order deny,allow

# Bloqueia acessos
deny from all

# Libera acesso para a Next SI
allow from 179.174.56.168

# Libera páginas
<FilesMatch ".*\.(html|js|css|jpg|png|php)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>