<div class="modal bs-modal-md" tabindex="-1" role="dialog" aria-labelledby="modal_grupo_motivo_chamado_configuracoes_label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_grupo_motivo_chamado_configuracoes_label">Configurações de Grupo de Motivos</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="modal_grupo_motivo_configuracoes_chk_motivo">
                                Somente exibir motivos e grupos de motivos de chamados que estão vinculados ao usuário logado
                            </label><br />
                            <input type="checkbox" class="chk_motivo checkbox_bootstrap_toggle" id="modal_grupo_motivo_configuracoes_chk_motivo">
                        </div>
                        
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_cliente">Exibir Grupo de Motivos na abertura de Chamados</label><br />
                            <input type="checkbox" class="chk_exibir_na_abertura_grupo_motivo_chamado checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibir_na_abertura">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>