<div class="modal modal_menu_personalizado_sistema" tabindex="-1" role="dialog" aria-labelledby="label_modal_menu_personalizado_sistema" aria-hidden="true">
    <div class="modal-dialog modal-lg" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn_cancelar close"  aria-hidden="true">&times;</button>
                    <h4 class="modal-title label_modal_menu_personalizado_sistema" >Menu Personalizado</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="edt_nome_menu_personalizado">Nome do menu personalizado</label>
                                <input  type="text" class="form-control edt_nome_menu_personalizado" name="nome_menu_personalizado">
                            </div>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="edt_url_menu_personalizado">URL do menu personalizado</label>
                                <input  type="text" class="form-control edt_url_menu_personalizado" name="url_menu_personalizado">
                                <div class="small" style="margin-top: 2px">Utilize <code>{usuario_id}</code> e <code>{usuario_email}</code> para dados do usuário logado.</div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="icone_menu">Ícone</label>
                                <input id="icone_menu" type="file" class="icone_menu" name="files[]" accept=".jpg, .jpeg, .png, .svg">

                                <img class="img_preview_icone" style="width: 25px; margin-top: 10px;" alt="icone_menu" title="Ícone atual do menu personalizado" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <label for="divPermissaoNecessaria">Permissão necessária</label>
                            <div id="divPermissaoNecessaria" class="divPermissaoNecessaria"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modal_menu_personalizado_chk_menu_personalizado_ativo">Menu personalizado ativo</label><br />
                                <input id="modal_menu_personalizado_chk_menu_personalizado_ativo" class="chk_menu_personalizado_ativo checkbox_bootstrap_toggle" type="checkbox" value="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modal_menu_personalizado_chk_aba_navegador">Abrir em uma nova aba do navegador</label><br />
                                <input id="modal_menu_personalizado_chk_aba_navegador" class="chk_aba_navegador checkbox_bootstrap_toggle" type="checkbox" value="">
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_cancelar" translate="modal_cadastro.cancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn_salvar" translate="modal_cadastro.salvar">Confirmar</button>
                    <button type="button" class="btn_excluir btn btn-danger">Excluir</button>  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    