<?php

class RouteMapEspecifico_Config extends \Sys\RouteMap
{
    static function adicionarRotas(){
        $rotas_especificas = array(
            '/area/salvar/' => array('Area', 'salvar'),
        );

        return $rotas_especificas;
    }
}