<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_usuario_parametros_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_usuario_parametros_label">Pesquisar Organização</h4>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="chk_efetivados">Efetivados?</label>
                            <div style="margin-top: 3px;">
                                <div class="select_efetivado"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="chk_efetivados">Bloqueado</label>
                            <div style="margin-top: 3px;">
                                <div class="select_bloqueado"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="chk_efetivados">Qualificado</label>
                            <div style="margin-top: 3px;">
                                <div class="select_qualificado"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_nome">Nome Fantasia</label>
                            <input type="text" class="edt_nome form-control" id="modal_usuario_edt_nome" maxlength="50" placeholder="Filtro por nome">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_razao_social">Razão Social</label>
                            <input type="text" class="edt_razao_social form-control" id="modal_usuario_edt_razao_social" maxlength="50" placeholder="Filtro por e-mail">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_municipio">Município da Organização</label>
                            <input type="text" class="edt_municipio form-control" id="modal_usuario_edt_municipio" maxlength="50" placeholder="Filtro por municipio">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_representante">Representante</label>
                            <input type="text" class="edt_representante form-control" id="modal_usuario_edt_representante" maxlength="50" placeholder="Filtro por representante">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_pesquisar btn btn-primary">Pesquisar</button>                
            </div>
        </div>
    </div>
</div>