<ol class="breadcrumb visible-xs">
    <li class="active">Recurso Compartilhado</li>
</ol>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-4">

			<strong>Selecione o Módulo.</strong>
			<br>
			<div class="" style="margin-top:5px;">
				<select name="cbo_modulo" id="" class="form-control cbo_modulo" >
				</select>
			</div>
		</div>

		<div class="col-md-8">
			<div class="pull-right">
				<div class="btn btn-primary btn_salvar">Salvar</div>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="panel panel-default">
	<!-- MODULO CRM -->
	<div class="panel-body" MODULO CRM>
		<h4>Selecione os recursos</h4>
		<br>
		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_oportunidade">Oportunidade</label><br>
				<select name="cbo_oportunidade" id="cbo_oportunidade" class="form-control cbo_oportunidade cbo_opcao_padrao" data-name="oportunidade"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_organizacao">Organização</label><br>
				<select name="cbo_organizacao" id="cbo_organizacao" class="form-control cbo_organizacao cbo_opcao_padrao" data-name="organizacao"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_clientes">Clientes</label><br>
				<select name="cbo_clientes" id="cbo_clientes" class="form-control cbo_metas cbo_opcao_padrao" data-name="clientes"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_funil_vendas">Funil Vendas</label><br>
				<select name="cbo_funil_vendas" id="cbo_funil_vendas" class="form-control cbo_funil_vendas cbo_opcao_padrao" data-name="funil_vendas"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

		</div>
		<br>

		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_itens">Itens</label><br>
				<select name="cbo_itens" id="cbo_itens" class="form-control cbo_itens cbo_opcao_padrao" data-name="itens"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_tipo_itens">Tipo Itens</label><br>
				<select name="cbo_tipo_itens" id="cbo_tipo_itens" class="form-control cbo_tipo_itens cbo_opcao_padrao" data-name="tipo_itens"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>


			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_grupo_itens">Grupo Itens</label><br>
				<select name="cbo_grupo_itens" id="cbo_grupo_itens" class="form-control cbo_grupo_itens cbo_opcao_padrao" data-name="grupo_itens"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>


			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_familia_itens">Familia Itens</label><br>
				<select name="cbo_familia_itens" id="cbo_familia_itens" class="form-control cbo_familia_itens cbo_opcao_padrao" data-name="familia_itens"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

		</div>
		<br>

		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_tabela_precos">Tabela de Preços</label><br>
				<select name="cbo_tabela_precos" id="cbo_tabela_precos" class="form-control cbo_tabela_precos cbo_opcao_padrao" data-name="tabela_precos"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_segmentos">Segmentos</label><br>
				<select name="cbo_segmentos" id="cbo_segmentos" class="form-control cbo_segmentos cbo_opcao_padrao" data-name="segmentos"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_tipo_evento_agenda">Tipo Evento Agenda</label><br>
				<select name="cbo_tipo_evento_agenda" id="cbo_tipo_evento_agenda" class="form-control cbo_tipo_evento_agenda cbo_opcao_padrao" data-name="tipo_evento_agenda"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>


			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_representantes">Representantes</label><br>
				<select name="cbo_representantes" id="cbo_representantes" class="form-control cbo_representantes cbo_opcao_padrao" data-name="representantes"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

		</div>
		<br>
		<div class="row">

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_regiao_vendas">Região de Vendas</label><br>
				<select name="cbo_regiao_vendas" id="cbo_regiao_vendas" class="form-control cbo_regiao_vendas cbo_opcao_padrao" data-name="regiao_vendas"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_unidade_medida">Unidade de Medida</label><br>
				<select name="cbo_unidade_medida" id="cbo_unidade_medida" class="form-control cbo_unidade_medida cbo_opcao_padrao" data-name="unidade_medida"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_status_oportunidade">Status Oportunidade</label><br>
				<select name="cbo_status_oportunidade" id="cbo_status_oportunidade" class="form-control cbo_status_oportunidade cbo_opcao_padrao" data-name="status_oportunidade"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="funcoes_contato">Funções do Contato</label><br>
				<select name="cbo_funcoes_contato" id="cbo_funcoes_contato" class="form-control cbo_funcoes_contato cbo_opcao_padrao" data-name="funcoes_contato"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

		</div>
		<br>

		<div class="row">


			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_condicao_pagamento">Condição de Pagamento</label><br>
				<select name="cbo_condicao_pagamento" id="cbo_condicao_pagamento" class="form-control cbo_condicao_pagamento cbo_opcao_padrao" data-name="condicao_pagamento"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_motivo_perda">Motivos de Perda de Negócio</label><br>
				<select name="cbo_motivo_perda" id="cbo_motivo_perda" class="form-control cbo_motivo_perda cbo_opcao_padrao" data-name="motivo_perda"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_origem_oportunidade">Origem da Oportunidade</label><br>
				<select name="cbo_origem_oportunidade" id="cbo_origem_oportunidade" class="form-control cbo_origem_oportunidade cbo_opcao_padrao" data-name="origem_oportunidade"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_metas">Metas</label><br>
				<select name="cbo_metas" id="cbo_metas" class="form-control cbo_metas cbo_opcao_padrao" data-name="metas"></select>
			</div>

		</div>
		<br>
		<div class="row">

			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_contatos">Contatos</label><br>
				<select name="cbo_contatos" id="cbo_contatos" class="form-control cbo_contatos cbo_opcao_padrao" data-name="contatos"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_tipo_oportunidade">Tipo Oportunidade</label><br>
				<select name="cbo_tipo_oportunidade" id="cbo_contatos" class="form-control cbo_tipo_oportunidade cbo_opcao_padrao" data-name="tipo_oportunidade"></select>
			</div>

			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>

		</div>

	</div>
	<!-- /MODULO CRM -->

	<!-- MODULO PROCESSO -->
	<div class="panel-body hidden" MODULO PROCESSO>
		<h4>Selecione os recursos</h4>
		<br>
		<div class="row">
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_solicitacao">Solicitações</label><br>
				<select name="cbo_solicitacao" id="cbo_solicitacao" class="form-control cbo_solicitacao cbo_opcao_padrao" data-name="solicitacao_processo"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_processo">Processos</label><br>
				<select name="cbo_processo" id="cbo_processo" class="form-control cbo_processo cbo_opcao_padrao" data-name="processo"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_formulario">Formulários</label><br>
				<select name="cbo_formulario" id="cbo_formulario" class="form-control cbo_formulario cbo_opcao_padrao" data-name="formulario"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_processo_etiqueta">Etiquetas</label><br>
				<select name="cbo_processo_etiqueta" id="cbo_processo_etiqueta" class="form-control cbo_processo_etiqueta cbo_opcao_padrao" data-name="processo_etiqueta"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
		</div>
		<br>
		<div class="row">
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_categoria_processo">Categorias de Processos</label><br>
				<select name="cbo_categoria_processo" id="cbo_categoria_processo" class="form-control cbo_categoria_processo cbo_opcao_padrao" data-name="categoria_processo"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="cbo_processo_template_word">Templates Word de Solicitações</label><br>
				<select name="cbo_processo_template_word" id="cbo_processo_template_word" class="form-control cbo_template_word cbo_opcao_padrao" data-name="processo_template_word"></select>
			</div>
			<div class="clearfix visible-xs" style="margin-bottom:5px;"></div>
		</div>
		<br>

	</div>
	<!-- /MODULO PROCESSO -->

	<!-- MODULO INOVACAO -->
	<div class="panel-body hidden" MODULO INOVACAO>
		<h4>Selecione os recursos</h4>
		<br>
		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_area_foco">Área de Foco</label><br>
				<select name="cbo_area_foco" id="cbo_area_foco" class="form-control cbo_area_foco cbo_opcao_padrao" data-name="area_foco"></select>
			</div>	
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_possibilidades">Possibilidades</label><br>
				<select name="cbo_possibilidades" id="cbo_possibilidades" class="form-control cbo_possibilidades cbo_opcao_padrao" data-name="possibilidades"></select>
			</div>			

		</div>
		<br>
	</div>

	<!-- MODULO EMPENHO -->
	<div class="panel-body hidden" MODULO EMPENHO>
		<h4>Selecione os recursos</h4>
		<br>
		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_atuacao_competencias">Atuação Efetiva e Competências Essenciais</label><br>
				<select name="cbo_atuacao_competencias" id="cbo_atuacao_competencias" class="form-control cbo_atuacao_competencias cbo_opcao_padrao" data-name="atuacao_competencias"></select>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<label for="chk_atuacao_competencias">Funções HPE</label><br>
				<select name="cbo_funcoes_hpe" id="cbo_funcoes_hpe" class="form-control cbo_funcoes_hpe cbo_opcao_padrao" data-name="funcoes_hpe"></select>
			</div>
		</div>
		<br>
	</div>
	<!-- /MODULO EMPENHO -->
</div>