<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function cliente_salvar_antes($cliente_model, $inclusao) {    
};

function cliente_salvar_depois($cliente_model, $inclusao) {
};