<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function documento_nova_revisao_antes($documento_revisao_model, $documento_model, $documento_pasta_model) {

};

function documento_nova_revisao_depois($documento_revisao_model, $documento_model, $documento_pasta_model) {

};