<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function oportunidade_atualizar_situacao_antes($oportunidade_model, &$situacao, &$data_situacao, &$motivo_perda_negocio_id, &$observacao_oportunidade_perdida) {
	
    switch ($situacao) {
		case Oportunidade_Model::SITUACAO_ABERTA:
			error_log($oportunidade_model->id . ' Aberta');
			break;
		case Oportunidade_Model::SITUACAO_GANHA:
			error_log($oportunidade_model->id . ' Ganha');
			break;
		case Oportunidade_Model::SITUACAO_PERDIDA:
			error_log($oportunidade_model->id . ' Perdida');
			break;
		default:
			error_log($oportunidade_model->id . ' Situacao invalida');
			break;
	}

};

function oportunidade_atualizar_situacao_depois($oportunidade_model, $situacao, $data_situacao, $motivo_perda_negocio_id, $observacao_oportunidade_perdida) {

};