<?php

/**
 * Função executada antes da reabertura de uma solicitação concluída
 */
function solicitacao_processo_reabrir_antes($solicitacao_atividade_model) {
    
}

/**
 * Função executada depois da reabertura de uma solicitação concluída
 */
function solicitacao_processo_reabrir_depois($solicitacao_atividade_model) {
    
}