<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function solicitacao_atividade_salvar_antes($solicitacao_atividade_model) {
	// Ação antes de salvar a atividade
};

function solicitacao_atividade_salvar_depois($solicitacao_atividade_model) {
	// Ação depois de salvar a atividade
};
