<ol class="breadcrumb visible-xs">
    <li class="active">Detalhes Unidade Medida</li>
</ol>

<div class="row"> 
	<div class="col-sm-3 col-md-3 col-lg-2">
        <div class="panel panel-default">
            <div class="list-group">
                <a href="#" class="btn_salvar list-group-item">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Salvar
                </a>
                <a href="#" class="btn_excluir list-group-item list-group-item-danger">
                    <span class="glyphicon glyphicon-check"></span>
                    Excluir
                </a>
                <a href="#" class="btn_cancelar list-group-item">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label for="edt_codigo">Código</label>
                    <span class="text-danger">*</span>
                    <input type="text" class="edt_codigo form-control" maxlength="2" id="edt_codigo" placeholder="Código">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="edt_descricao">Descrição</label>
                    <span class="text-danger">*</span>
                    <input type="text" class="edt_descricao form-control" maxlength="20" id="edt_descricao" placeholder="Descrição">
                </div>
            </div>
            <div class="col-md-1 div_qtde_decimal">
                    <div class="form-group">
                        <label for="edt_qtde_decimal">Casas Demais</label>
                        <span class="text-danger">*</span>
                        <input type="text" class="edt_qtde_decimal form-control" maxlength="1" id="edt_qtde_decimal" placeholder="Quantidade">
                    </div>
                </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="chk_bloqueado">Bloqueado?</label>
                        <input type="checkbox" class="chk_bloqueado checkbox_bootstrap_toggle" id="chk_bloqueado">
                </div>
            </div>
        </div>
    </div>
</div>