<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_representante_configuracoes_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_representante_configuracoes_label">Configurações</h4>
            </div>
            <div class="modal-body">                

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">                            
                            <label for="modal_tecnico_configuracoes_chk_codigo_automatico">Código gerado <br>automaticamente</label><br>
                            <input type="checkbox" class="chk_gerar_codigo form-control" id="modal_tecnico_configuracoes_chk_codigo_automatico">
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_razao_social">Razão Social <br>Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_razao_social form-control" id="modal_representante_configuracoes_chk_razao_social">                        
                        </div>
                    </div>  
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_nome_fantasia">Nome Fantasia <br>Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_nome_fantasia form-control" id="modal_representante_configuracoes_chk_nome_fantasia">                        
                        </div>
                    </div> -->                                                  
                </div>                    

                <!--<div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_tipo">Tipo Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_tipo form-control" id="modal_representante_configuracoes_chk_tipo">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_cep">CEP Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_cep form-control" id="modal_representante_configuracoes_chk_cep">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_endereco">Endereço Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_endereco form-control" id="modal_representante_configuracoes_chk_endereco">                        
                        </div>
                    </div>
                </div>                                        

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_numero">Número Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_numero form-control" id="modal_representante_configuracoes_chk_numero">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_bairro">Bairro Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_bairro form-control" id="modal_representante_configuracoes_chk_bairro">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_municipio">Município Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_municipio form-control" id="modal_representante_configuracoes_chk_municipio">                        
                        </div>
                    </div>
                </div>                                                            

                <div class="row">                    
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_pais">País Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_pais form-control" id="modal_representante_configuracoes_chk_pais">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_cnpj">CNPJ/CPF Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_cnpj form-control" id="modal_representante_configuracoes_chk_cnpj">                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="modal_representante_configuracoes_chk_inscricao_estadual">IE Obrigatorio?</label><br>
                            <input type="checkbox" class="chk_inscricao_estadual form-control" id="modal_representante_configuracoes_chk_inscricao_estadual">                        
                        </div>
                    </div>
                </div> -->
            
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>                
            </div>
        </div>
    </div>
</div>


