<ol class="breadcrumb visible-xs">
  <li class="active">Atividade de PDCA</li>
</ol>

<div class="familia_fonte">

    <div class="dados_projeto " style="margin-bottom: 0px;">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="panel panel-default painel_detalhes" style="margin: 0px;">
                    <div class="panel-heading" style="border-bottom: none; padding-bottom: -4px; margin-bottom:0px;">
                        <div class="row" style="margin-right: 3px; margin-left:3px; font-weight: bold">
                            <div class="pull-right"></div>
                            <div class="row div_row_topo1">
                                <div class="col-sm-4">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label style="margin-bottom: 0px;" class="text-muted">N.º: </label>
                                        <span id="edt_numero" class="edt_numero" style="padding-top: 0px;padding-bottom: 0px;"></span>
                                    </div>
                                </div>
        
                                <div class="col-sm-5 div_objetivo">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label style="margin-bottom: 0px;" class="text-muted">Objetivo: </label>
                                        <span id="edt_objetivo" class="edt_objetivo" style="padding-top: 0px;padding-bottom: 0px;"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3  div_progresso">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label style="margin-bottom: 0px;" class="text-muted">Progresso: </label>
                                        <span id="edt_progresso" class="edt_progresso" style="padding-top: 0px; padding-bottom: 0px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row div_row_topo1" style="padding-top: 10px;">
                                <div class="col-sm-4  div_data_inicio">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label style="margin-bottom: 0px;" class="text-muted">Data Início: </label>
                                    <span id="edt_data_inicio" class="edt_data_inicio" style="padding-top: 0px; padding-bottom: 0px;"></span>
                                </div>
                                </div>
                                <div class="col-sm-5  div_data_fim">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <label style="margin-bottom: 0px;" class="text-muted">Data Fim: </label>
                                    <span id="edt_data_fim" class="edt_data_fim" style="padding-top: 0px; padding-bottom: 0px;"></span>
                                </div>
                                </div>
                                <div class="col-sm-3  div_situacao">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <label style="margin-bottom: 0px;" class="text-muted">Situacao: </label>
                                        <span id="edt_situacao" class="edt_situacao" style="padding-top: 0px; padding-bottom: 0px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="grid_pdca_atividades"></div>
                    </div>
                </div>
                <div class="row" style="min-height:15px"></div>
            </div>
        </div>
    </div>
</div>
