<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_projeto_relatorio_selecionar_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_projeto_relatorio_selecionar_label">Parâmetro Relatório de Posicionamento de Projeto</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            
                            <div class="col-md-4">
                                
                                <div class="form-group">
                                    <label>Referência</label>
                                    <input type="date" min="1900-01-01" max="2222-12-31" class="form-control edt_referencia"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="" style="/*margin-left:-25px;*/">
                            <label for="destacar_atividades_atrasadas">Destacar atividades atrasadas</label>
                        </div> 
                        <!-- <br> -->

                        <div class="" style="">
                            <input type="checkbox" class="chk_destacar_atrasadas form-control checkbox_bootstrap_toggle template_switch">
                        </div>      
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label for="destacar_atividades_programadas">Destacar atividades programadas</label>
                        </div>
                        <div>
                            <input type="checkbox" class="chk_destacar_programadas form-control checkbox_bootstrap_toggle template_switch">
                        </div>
                    </div>                
                    <!--<div class="col-md-8">
                        <div class="form-group">
                            <label>Clientes</label>
                            <select  class="form-control cbo_cliente selectpicker" data-live-search="true" style="margin-top: 5px; margin-right: 200px;">
                            </select> 
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_pesquisar btn btn-primary">Download</button>                
            </div>
        </div>
    </div>
</div>