<ol class="breadcrumb visible-xs">
    <li class="active">Relatório de Apontamento x Técnico</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <div class="btn-group" style="padding-right: 10px;">
            <div class="btn-group">
                <button type="button" class="btn_parametros btn btn-primary">
                    <span class="glyphicon glyphicon-filter"></span> Parâmetros
                </button>
            </div>
        </div>
    </nav>
    
</div>
<!-- /LISTAGEM -->