<div class="divComponenteDrawer"></div>

<div class="scrollview">
    <div class="panel panel-default" style="margin-bottom: 0px;">
        <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
            <div class="pull-right hidden-xs">
                <div >
                    <button type="button" class="btn_atv_arvore btn btn-default" style="display: none;">
                        <i class="fas fa-stream"></i> Árvore
                    </button>
                    <button type="button" class="btn_atv_diagrama btn btn-default" style="display: none;">
                        <i class="fas fa-project-diagram"></i> Diagrama
                    </button>
                    <button type="button" class="btn_atv_diagrama_reprocessar btn btn-default" style="display: none;" title="Reprocessar Diagrama">
                        <i class="fas fa-project-diagram"></i> 
                        <div class="fas fa-magic icon-on-top"></div>
                    </button>
                    <button type="button" class="btn_versoes btn btn-default">
                        <i class="fas fa-history"></i> Versões
                    </button>
                    <button type="button" class="btn_excluir btn btn-danger">Excluir</button>
                    <button type="button" class="btn_salvar_processo btn btn-default">
                        <i class="far fa-save"></i> Salvar
                    </button>
                    <button type="button" class="btn_salvar_processo salvar-e-sair btn btn-default">
                        <i class="far fa-save"></i> <div class="fa fa-sign-out-alt icon-on-top"></div> Salvar e Sair
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
                <li class="active">
                    <a class="menu_configuracoes" href="#" role="tab" data-toggle="tab">Configurações</a>
                </li>
                <li>
                    <a class="menu_atividades" href="#" role="tab" data-toggle="tab">Atividades</a>
                </li>
                <li>
                    <a class="menu_modelistas" href="#" role="tab" data-toggle="tab">Modelistas</a>
                </li>
                <li>
                    <a class="menu_supervisores" href="#" role="tab" data-toggle="tab">Supervisores</a>
                </li>
                <li class="lbl_tab_historico">
                    <a class="menu_historico" href="#" role="tab" data-toggle="tab" translate="processo.aba_historico">Histórico</a>
                </li>
            </ul>
        </div>
    
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="active tab-pane aba_configuracoes">                
    
                    <div class="row">
                        <div class="col-md-7">
    
                            <!-- Nome-->
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="modal_processo_edt_nome">Nome do processo</label>
                                    <input type="text" class="edt_nome form-control" id="modal_processo_edt_nome" maxlength="150" placeholder="Nome do processo">
                                </div>
                                <div class="col-md-6">
                                    <label>Nome da tabela</label>
                                    <input type="text" class="nome_tabela form-control" maxlength="20" placeholder="Nome da tabela">
                                </div>
                            </div>
    
                            <!-- Textarea -->
                            <div class="row form-group">
                                <div class="col-md-12">                     
                                    <label for="modal_processo_edt_instrucao_trabalho">Descrição</label>
                                    <textarea class="edt_instrucao_trabalho form-control" id = "edt_instrucao_trabalho_processo" width="100%" id="modal_processo_edt_instrucao_trabalhos" rows="10"></textarea>
                                </div>
                            </div>

                            <!-- Recorrência -->
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="display: block;">Recorrência</label>
                                    <div class="dx_abertura_automatica"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-info-sign text-info"></span>
                                    <span class="text-muted small text-right">Permitir abertura manual: quando desativada, nenhum usuário conseguirá abrir manualmente o processo.</span>
                                    <br />
                                    <span class="glyphicon glyphicon-info-sign text-info"></span>
                                    <span class="text-muted small text-right">Enviar automaticamente: a solicitação não será enviada automaticamente se campos obrigatórios não estiverem preenchidos ou o destino seja um gateway exclusivo/inclusivo.</span>
                                    <br />
                                    <span class="glyphicon glyphicon-info-sign text-info"></span>
                                    <span class="text-muted small text-right">As alterações de recorrência não necessitam de uma nova versão.</span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-5">
    
                            <table class="tabela_configuracoes table" >
                                <tbody>
                                    <tr>
                                        <td class="text-left"><label for="modal_processo_chk_ativo">Processo ativo</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_ativo form-control" id="modal_processo_chk_ativo"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"><label for="modal_processo_chk_permitir_abertura_manual">Permitir abertura manual</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_permitir_abertura_manual form-control" id="modal_processo_chk_permitir_abertura_manual"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"><label for="modal_processo_chk_cliente">Selecionar um cliente no inicio do processo</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_cliente form-control" id="modal_processo_chk_cliente"></td>
                                    </tr>
                                    <tr class="cliente_acompanha" style="display: none">
                                        <td class="text-left"><label for="modal_processo_chk_cliente_acompanha">Cliente poderá visualizar solicitações vinculadas a ele</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_cliente_acompanha form-control" id="modal_processo_chk_cliente_acompanha"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"><label for="modal_processo_chk_solicitante_acompanha">Solicitante poderá acompanhar as atividades de solicitações abertas por ele</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_solicitante_acompanha form-control" id="modal_processo_chk_solicitante_acompanha"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"><label for="modal_permite_download_formulario_nao_concluido">Permite download de formulários de atividades não concluídas</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_permite_download_formulario_nao_concluido form-control" id="modal_processo_permite_download_formulario_nao_concluido"></td>
                                    </tr>
                                    <tr class="tr_armazenar_anexos_modulo_documentos">
                                        <td class="text-left"><label for="modal_processo_chk_permite_anexos">Armazenar anexos no módulo de documentos</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_permite_anexos form-control" id="modal_processo_chk_permite_anexos"></td>
                                    </tr>
                                    <tr class="tr_escolha_pasta_anexos_solicitacao">
                                        <td class="text-left"><label for="modal_processo_chk_diretorio">Escolher a pasta dos anexos em cada solicitação</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_diretorio form-control" id="modal_processo_chk_diretorio"></td>
                                    </tr>
                                    <tr class="tr_exibir_modal_confirmacao_envio">
                                        <td class="text-left"><label for="modal_processo_chk_exibir_modal_confirmacao_envio">Exibir janela de confirmação de envio ao concluir uma atividade</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_exibir_modal_confirmacao_envio form-control" id="modal_processo_chk_exibir_modal_confirmacao_envio"></td>
                                    </tr>
                                    <tr class="tr_esconder_grupos_campos_vazios">
                                        <td class="text-left"><label for="modal_processo_chk_esconder_grupos_campos_vazios">Esconder grupos do formulário cujos campos estão sem valor</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_esconder_grupos_campos_vazios form-control" id="modal_processo_chk_esconder_grupos_campos_vazios"></td>
                                    </tr>
                                    <tr class="tr_ocultar_mensagem_campos_vazios">
                                        <td class="text-left"><label for="modal_processo_chk_ocultar_mensagem_campos_vazios">Esconder mensagem de grupos ocultos no PDF</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_ocultar_mensagem_campos_vazios form-control" id="modal_processo_chk_ocultar_mensagem_campos_vazios"></td>
                                    </tr>
                                    <tr class="tr_excluir_solicitacoes_em_branco">
                                        <td class="text-left"><label for="modal_processo_chk_excluir_solicitacoes_em_branco">Excluir solicitações cujos campos estão sem valor</label></td>
                                        <td class="text-right"><input type="checkbox" class="checkbox_bootstrap_toggle chk_excluir_solicitacoes_em_branco form-control" id="modal_processo_chk_excluir_solicitacoes_em_branco"></td>
                                    </tr>
                                </tbody>
                                
                            </table>
    
                            <!-- Multiple Radios (inline) -->
                            <div class="row form-group div_anexo_relacao" style="display: none">
                                <div class="col-md-12">
                                    <label class="control-label">Armazenar anexos em</label>
                                    <div class="div_pasta"></div>
                                </div>
                            </div>
    
                            <!-- Select Basic -->
                            
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="modal_processo_cbo_calendario_trabalho">Categoria</label>
                                    <div class="input-group">
                                        <select id="modal_processo_cbo_categoria_processos" class="form-control selectpicker cbo_categoria_processos show-tick" data-live-search="true" title="Escolha a categoria">
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn_categoria_processos_visualizar btn btn-default">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </button>
                                            <button type="button" class="btn_categoria_processos_recarregar btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                            <button type="button" class="btn_categoria_processos_novo btn btn-default">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Select Basic -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="modal_processo_cbo_calendario_trabalho">Calendário de trabalho</label>
                                    <div class="input-group">
                                        <select id="modal_processo_cbo_calendario_trabalho" class="form-control selectpicker cbo_calendario_trabalho show-tick" data-live-search="true" title="Escolha o calendário de trabalho">
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn_calendario_trabalho_visualizar btn btn-default">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </button>
                                            <button type="button" class="btn_calendario_trabalho_recarregar btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                            <button type="button" class="btn_calendario_trabalho_novo btn btn-default">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Select Basic -->
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="modal_processo_cbo_formulario">Formulário</label>
                                    <div class="input-group">
                                        <select id="modal_processo_cbo_formulario" class="form-control selectpicker cbo_formulario show-tick" data-live-search="true" title="Escolha o formulário">
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn_formulario_visualizar btn btn-default">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </button>
                                            <button type="button" class="btn_formulario_recarregar btn btn-default">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                            </button>
                                            <button type="button" class="btn_formulario_novo btn btn-default">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="tab-pane aba_modelistas">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-info" style="font-size:13px; line-height:1.5;">
                                <p>
                                    <span class="label label-default">Regra de Acesso</span><br><br>
                                    Caso <strong>não exista nenhum usuário</strong> ou <strong>grupo de usuários</strong> vinculado a este processo,
                                    todos que possuírem a permissão <span class="label label-primary">Modelagem de Processo</span> poderão acessar.
                                </p>
                                <p>
                                    Porém, se houver <strong>usuários</strong> ou <strong>grupos de usuários</strong> definidos, 
                                    apenas os <strong>usuários listados</strong>,
                                    os <strong>membros dos grupos</strong> e os <strong>administradores</strong> 
                                    terão acesso à modelagem.
                                </p>
                            </div>

                            <div class="dx_modelistas_processos"></div>
                        </div>
                    </div>
                </div>
    
                <div class="tab-pane aba_atividades">
                    
                    <div class="divAtvArvore">
                        <div class="tab_atividades" style="padding-bottom: 35px;"></div>
                    </div>

                    <div class="divAtvDiagrama hidden">
                        <div class="processoDiagram"></div>
                    </div>
    
                </div>
    
                <div class="tab-pane aba_supervisores">
                        
                    <div class="row">
    
                        <div class="col-md-4" style="margin-bottom: 15px;">
                            <label style="display: block">Adicionar supervisores</label>
                            <select  style="width: 100%;" class=" select-multi-column cbo_supervisores" placeholder="Pesquise pelo nome do usuário ou do grupo de usuários"></select>
                        </div>
    
                        <div class="col-md-12">
    
                            <table class="tab_supervisores table table-striped">
                                <thead>
                                    <tr>
                                        <th>Supervisores</th>
                                        <th>Permite Edição?</th>
                                        <th>Notificar cancelamento da solicitação?</th>
                                        <th>Reabertura de Solicitações Concluídas</th>
                                        <th>&nbsp;</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr template-row style="display: none">
                                        <td>
                                            <button type="button" class="btn_usuario_remover close hidden-sm hidden-md hidden-lg" aria-hidden="true">&times;</button>
                                            <span class="label lb_tipo" template-field="tipo" style="margin-right: 5px;"></span>
                                            <span template-field="nome">{nome}</span>
                                        </td>
    
                                        <td>
                                            <div>
                                                <input type="checkbox" class="checkbox_bootstrap_toggle template_switch chk_permite_edicao" checked>    
                                            </div>
                                        </td>
    
                                        <td>
                                            <div>
                                                <input type="checkbox" class="checkbox_bootstrap_toggle template_switch chk_notifica_cancelamento" checked>    
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <input type="checkbox" class="checkbox_bootstrap_toggle template_switch chk_reabertura_solicitacoes_concluidas">
                                            </div>
                                        </td>
                                        
    
                                        <td class="text-right hidden-xs" style="margin-right: 0px; padding-right: 0px">
                                            <a class="btn_usuario_remover btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
                <div class="tab-pane aba_historico" style="height: auto; overflow-y: auto; overflow-x: hidden;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="dx_historico_processos"></div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>
