<ol class="breadcrumb visible-xs">
    <li>Carta de Inovação</li>
</ol>

    <div style="background: #fff; padding: 5px; padding-bottom: 60px;">

        <div class="row"> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="modal_usuario_edt_data_carta">* Data</label>
                    <input type="date" class="edt_data_carta form-control" id="modal_usuario_edt_data_carta">
                </div>
            </div>
            <div class="col-md-9">   
                <div class="form-group">
                    <label for="modal_usuario_edt_nome">* Nome</label>
                    <input type="text" class="edt_nome form-control" id="modal_usuario_edt_nome">
                </div>
            </div>
        </div>
        <h4>Qual sua ideia para gerar Net Profit?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_titulo_ideia">* Título da ideia</label>
                    <input type="text" class="edt_titulo_ideia form-control" id="modal_usuario_edt_titulo_ideia">
                </div>
            </div>
        </div>

        <h4>1) *Background: Sobre o que vamos falar e por que?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_descricao">Resposta</label>
                    <textarea class="edt_descricao form-control" id="modal_usuario_edt_descricao" rows="3"></textarea>
                </div>
            </div>
        </div>

        <h4>2)Estado Atual: como estamos agora?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_justificativa">Resposta</label>
                    <textarea class="edt_justificativa form-control" id="modal_usuario_edt_justificativa" rows="3"></textarea>
                </div>
            </div>
        </div>
        <h4>3) Objetivo: qual resultado é esperado? (Percentuais, tempo, prazos, valores, satisfação de cliente...)</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="edt_objetivos_metas">Resposta</label>
                    <textarea class="edt_objetivos_metas form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <h4>4) Análise: por que há o problema ou necessidade?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="edt_acomp_resultados">Resposta</label>
                    <textarea class="edt_acomp_resultados form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <h4>5) Recomendações: qual a proposta e por quê?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="desc_recursos">Resposta</label>
                    <textarea class="edt_desc_recursos form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <h4>6) Plano: como será implementado?</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_primeiro_passo">Primeiro passo</label>
                    <input type="text" class="edt_primeiro_passo form-control" id="modal_usuario_edt_primeiro_passo">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_segundo_passo">Segundo passo</label>
                    <input type="text" class="edt_segundo_passo form-control" id="modal_usuario_edt_segundo_passo">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_terceiro_passo">Terceiro passo</label>
                    <input type="text" class="edt_terceiro_passo form-control" id="modal_usuario_edt_terceiro_passo">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_quarto_passo">Quarto passo</label>
                    <input type="text" class="edt_quarto_passo form-control" id="modal_usuario_edt_quarto_passo">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_quinto_passo">Quinto passo</label>
                    <input type="text" class="edt_quinto_passo form-control" id="modal_usuario_edt_quinto_passo">
                </div>
            </div>
        </div>

        <h4>7) Acompanhamento: Como será garantido o PDCA?</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_data_inicio_operacional">* Data do início operacional</label>
                    <input type="date" class="edt_data_inicio_operacional form-control" id="modal_usuario_edt_data_inicio_operacional">
                </div>
            </div>
        </div>

        <h4>8) Despesas</h4>
        <div class="form-group">
            <table class="tab_listagem_despesas table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 75%;">Tipo despesa (Especifique qual é a despesa e se ela é mensal, anual, total, etc.)</th>
                        <th style="width: 75%;">Valor despesa</th>
                        <th>
                            <div class="pull-right">
                                <button type="button" class="btn_incluir_despesa btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr template-row style="display: none;">
                        <td template-field="descricao" style="width: 75%;"><input type="text" class="form-control"></td>
                        <td template-field="valor_despesa" style="width: 75%;"><input type="text" class="form-control"></td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn_deletar_despesa btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>                
                </tbody>
            </table>     
        </div>
        <br>

        <h4><b>9) Receitas</b></h4>

        <div class="form-group">
            <table class="tab_listagem_receitas table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 75%;">Tipo receita (Especifique qual é a receita e se ela é mensal, anual, total, etc.)</th>
                        <th style="width: 75%;">Valor receita</th>
                        <th>
                            <div class="pull-right">
                                <button type="button" class="btn_incluir_receita btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr template-row style="display: none;">
                        <td template-field="descricao" style="width: 75%;"><input type="text" class="form-control"></td>
                        <td template-field="valor_receita" style="width: 75%;"><input type="text" class="form-control"></td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn_deletar_receita btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>                
                </tbody>
            </table>     
        </div>

        <h4><b>10) Net Profit</b></h4>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modal_usuario_edt_net_profit_12_meses">Net Profit 12 meses</label>
                    <input type="text" class="edt_net_profit_12_meses form-control" id="modal_usuario_edt_net_profit_12_meses">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modal_usuario_edt_net_profit_24_meses">Net Profit 24 meses</label>
                    <input type="text" class="edt_net_profit_24_meses form-control" id="modal_usuario_edt_net_profit_24_meses">
                </div>
            </div>
        </div> 


        <h4>11) Observações e Histórico de ações.</h4>

        <div class="row"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="modal_usuario_edt_contribuicao">* Resposta:</label>
                    <textarea class="form-control edt_contribuicao" name="edt_contribuicao" rows="3"></textarea>
                </div>
            </div>
        </div>

        <hr>        
        
    </div>

    <div style="position: fixed; z-index: 64; margin: 20px; bottom: 20px; right: 0; background: #f1f1f175; text-align: center; ">
        <div class="btns" style="width: 100%; display: inline-flex; justify-content: flex-end; position: relative; padding: 2px; ">
            <button type="button" class="btn btn-primary btn_confirmar">Salvar</button>
            <button type="button" class="btn btn-primary btn_salvar_enviar">Salvar e Enviar</button>
            <button type="button" class="btn btn-default btn_cancelar">Cancelar</button>
            <button type="button" class="btn btn-default btn_avaliar hidden">Aprovar</button>
            <button type="button" class="btn btn-default btn_aprovar_gerar_chamado hidden">Aprovar / Gerar chamado</button>    
        </div>
    </div>