<!-- MODAL ALTERAR FOTO -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_alterar_foto_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_alterar_foto_label">Alterar Foto</h4>
            </div>
            <div class="modal-body">

                <div class="row"> 
                    <div class="col-md-12">
                        
                        <div class="alert alert-info" style="text-align: center">
                            <span href="#" class="alert-link"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                <strong>para melhor visualização, utilize as seguintes dimensões: </strong><br/>
                                Largura: 2400 pixels<br/>
                                Altura: 1600 pixels
                            </span>
                        </div>

                        <div class="form-group">
                            <input type="file" class="files" name="files[]" accept=".jpg, .jpeg, .png" />
                        </div>
                        <div class="form-group">
                            <span class="preview_logo" style="padding-top: 7px; padding-bottom: 0px;" ><img style="max-width: 100%" class="carrega_img"/></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL ALTERAR FOTO -->