<ol class="breadcrumb visible-xs">
    <li class="active">Funil de Vendas</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <button type="button" class="btn_novo btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Novo
        </button>
        <button type="button" class="btn_listar btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        
    </nav>

    <div class="table-responsive">

        <table class="tab_listagem table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="text-center">Padrão</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- itens -->
                <tr template-row style="display: none;">
                    <td> 
                        <span template-field="nome"></span><br>
                        <small><span class="text-info" template-field="etapas"></span></small>                        
                    </td>            
                    <td class="text-center text-success">
                        <span class="glyphicon" template-field="padrao"></span>
                    </td>        
                    <td template-buttons="actions">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn_editar btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="btn_etiquetas" href="#">
                                        Etiquetas
                                    </a></li>
                                    <li><a class="btn_visualizar" href="#">
                                        Visualizar
                                    </a></li>
                                    <li><a class="btn_excluir" href="#">
                                        Excluir
                                    </a></li>
                                    <li><a class="btn_clonar" href="#">
                                        Clonar
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<!-- /LISTAGEM -->