<div class="panel panel-default">
    <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
        <div class="pull-right ">
            <div >
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
                <button type="button" class="btn_excluir btn btn-danger">Excluir</button>                
            </div>
        </div>    
        <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
            <li class="active">
                <a class="menu_geral" href="#aba_geral" role="tab" data-toggle="tab">Geral</a>
            </li>
            <li>
                <a class="menu_personalizado hidden" href="#" role="tab" data-toggle="tab">Campos Personalizados</a>
            </li>
        </ul>
    </div>

    <div class="panel-body">

        <!-- Tab panes -->
        <div class="tab-content">


            <div class="tab-pane active aba_geral" id="aba_geral">

                <div class="row">       

                    <div class="col-md-6">   

                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_nome">Nome</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" class="edt_nome form-control" maxlength="150" id="edt_nome" placeholder="Nome">
                                </div>                            
                            </div>                
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_email">E-mail</label>
                                    <input type="text" class="edt_email form-control" maxlength="150" id="edt_email" placeholder="E-mail">
                                </div>                            
                            </div>                                        
                        </div>  
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_telefone1">Telefone 1</label>
                                    <input type="text" class="edt_telefone1 form-control" maxlength="15" id="edt_telefone1" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_telefone2">Telefone 2</label>
                                    <input type="text" class="edt_telefone2 form-control" maxlength="15" id="edt_telefone2" placeholder="Telefone">
                                </div>
                            </div>            
                        </div>    
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_telefone3">Telefone 3</label>
                                    <input type="text" class="edt_telefone3 form-control" maxlength="15" id="edt_telefone3" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edt_telefone4">Telefone 4</label>
                                    <input type="text" class="edt_telefone4 form-control" maxlength="15" id="edt_telefone4" placeholder="Telefone">
                                </div>
                            </div>
                        </div>   
                
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cbo_area">Área</label>
                                    <select id="cbo_area" class="select-multi-column cbo_area"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cbo_funcao">Função</label>
                                    <select id="cbo_funcao" class="select-multi-column cbo_funcao"></select>
                                </div>
                            </div>
                        </div>

                    </div> 

                    <div class="col-md-6">           
                        
                        <div class="row">
                    
                            <div class="col-md-12"> 
                                <div class="div_component_cbo_clientes"></div>                                    
                            </div>
            
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="div_pessoa form-group" id="div_pessoa">                                                     

                                    <table class="tab_listagem_pessoa table-responsive table">
                                        <thead>
                                            <tr>
                                                <th>Nome Fantasia</th>                        
                                                <th>Razão Social</th>                        
                                                <th>E-mail</th>                        
                                                <th>Telefone</th>                        
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr template-row style="display: none;">
                                                <td> 
                                                    <span class="label lb_tipo"></span>
                                                    <span template-field="nome_fantasia"></span>
                                                </td>
                                                <td template-field="razao_social"></td>
                                                <td template-field="email"></td>

                                                <td style="font-size: 11px" class="hidden-xs">
                                                    <span class="text-nowrap" template-field="telefone1"></span>
                                                    <br>
                                                    <span class="text-nowrap" template-field="telefone2"></span>
                                                    <br>
                                                    <span class="text-nowrap" template-field="telefone3"></span>
                                                    <br>
                                                    <span class="text-nowrap" template-field="telefone4"></span>
                                                </td>

                                                <td>
                                                    <div class="pull-right">
                                                        <button type="button" class="btn_deletar_pessoa btn btn-default">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>                
                                        </tbody>
                                    </table>     
                                </div>  
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="edt_observacoes">Observações</label>        
                            <textarea class="edt_observacoes form-control" id="edt_observacoes" maxlength="500" rows="4"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="tab-pane aba_personalizado">    
                <div class="form-editor">
                    
                    <div class="form-grupos panel-body" style="padding: 0px;">
                    </div>

                    <div class="form-grupo" template-grupo template-ref="" style="display: none;">
                        <div>
                            <h1 class="text-primary lbl_grupo_nome" style="font-size: medium;"></h3>
                        </div>

                    </div>

                    <div class="form-grupo-campo" template-campo template-ref="" style="display: none;">
                        <div class="div_campo form-group">
                            <span class="lbl_obrigatorio text-danger">* </span>
                            <label class="lbl_nome">{Nome}</label>
                            <div class="div_input">
                                <!-- elemento do campo -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="panel-footer">
        <div class="text-right">
            <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
            <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            <button type="button" class="btn_excluir btn btn-danger">Excluir</button>                        
        </div>
    </div>

</div>