<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_usuario_parametros_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_usuario_parametros_label">Pesquisar Contato</h4>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_nome">Nome</label>
                            <input type="text" class="edt_nome form-control" id="modal_usuario_edt_nome" maxlength="255" placeholder="Digite o nome do contato">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_email">Email</label>
                            <input type="text" class="edt_email form-control" id="modal_usuario_edt_email" maxlength="255" placeholder="Digite o email do contato">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_pesquisar btn btn-primary">Pesquisar</button>                
            </div>
        </div>
    </div>
</div>