
<div class="panel panel-primary">
    <div class="panel-heading">Configurações</div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                <div class="form-group">
                    <label for="edt_api_url">EAD Plataforma URL:</label>
                    <input id="edt_api_url" type="text" placeholder="https://seuendereco.eadplataforma.com" class="form-control edt_api_url" maxlength="500"> 
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label for="edt_api_token">API Token:</label>
                        <input id="edt_api_token" type="text" class="form-control edt_api_token" maxlength="500"> 
                    </div>
                </div>

                <div class="form-group">
                    <label for="chk_replicar">Replicar usuários do Next BP para EAD Plataforma</label><br>
                    <input id="chk_replicar" type="checkbox" class="chk_replicar checkbox_bootstrap_toggle">
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="panel-footer">
        
        <button class="btn_salvar btn btn-primary">Salvar</button>

        <a manual="ead_plataforma" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-question-sign"></span> Ajuda
        </a>
    </div>
</div>