<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_data_referencia_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_data_referencia_label">Gestão do Tempo por Data de Referência</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Data Referência</label>
                            <input type="date" min="1900-01-01" max="2222-12-31" class="form-control edt_referencia"> 
                        </div>
                    </div>                
                </div>

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>                
            </div>
        </div>
    </div>
</div>