<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_solicitacao_retornar_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_solicitacao_retornar_label">Retornar Solicitação</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="modal_solicitacao_retornar_edt_motivo">Deseja realmente retornar esta solicitação para a atividade anterior?<br>Informe o motivo do retorno da atividade.</label>
                    
                    <textarea class="edt_motivo form-control" id="modal_solicitacao_retornar_edt_motivo" maxlength="500" rows="4"></textarea>
                </div>

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Não</button>
                <button type="button" class="btn_confirmar btn btn-danger">Sim, retornar para atividade anterior</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->