<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_solicitacao_nova_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_solicitacao_nova_label">Vincular Chamado</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group text-center">
                            <button type="button" class="btn_vinculo_atividade btn btn-default">Nesta Atividade</button>
                            <button type="button" class="btn_vinculo_solicitacao btn btn-primary">Nesta Solicitação</button>
                        </div>
                    </div>
                </div>
                
                <!-- template-item -->
                <!-- <div  class="list-group-item" template-item style="display: none">
                    <div class="pull-right">
                        <button type="button" class="btn_selecionar btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Selecionar
                        </button>
                    </div>

                    <div>
                        <span template-field="nome" style="cursor: pointer;">{Processo}</span>
                    </div>

                    <p class="list-group-item-text text-info" template-field="instrucao_trabalho">{instrucao_trabalho}</p>

                    <p class="list-group-item-text" template-field="versao_processo_atividade_descricao" style="cursor: pointer;">{versao_processo_atividade_descricao}</p>

                    <p class="list-group-item-text text-info" template-field="versao_processo_atividade_instrucao_trabalho">{versao_processo_atividade_instrucao_trabalho}</p>
                    
                </div> -->
                <!-- /template-item -->

                <!-- <div class="list_processos list-group">
                    
                </div> -->

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->