<div class="modal modal_confirmar_recorrencia" tabindex="-1" role="dialog" aria-labelledby="label_modal_confirmar_recorrencia" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title label_modal_confirmar_recorrencia" translate="gestao_agenda.pre_visualizar_eventos_recorrentes">Pre visualizar eventos recorrentes</h4>
            </div>
            <div class="modal-body">

				<div container-eventos>
					<span translate="gestao_agenda.eventos_recorrentes_serem_criados">Eventos recorrentes a serem criados</span> <br><br>
					<div class="dx_eventos"></div>
					<div class="panel panel-default">
			          	<div style="display:table; margin:0 auto;" class="hidden" loading>
			          		<span class="fa fa-fw fa-3x fa-circle-notch fa-spin " style="display: table;margin-top: 15px;margin-bottom: 0px;"></span>
			          		<span class="" style="display: table;text-align: center;width: 130px;margin-left: -40px; margin-top: 10px;" translate="gestao_agenda.recorrencia_por_favor_aguarde">
			          			Por favor aguarde...
			          		</span>
			          	</div>

					</div>
				</div>
				<div class="hidden" aviso>
					<h4>Eventos Recorrentes estão sendo registrados</h4>
					<br>
					<div>
						<div style="display:table; margin:0 auto;" class="fa fa-fw fa-3x fa-circle-notch fa-spin"></div>
						<br>
						<label style="display:table; margin:0 auto;" translate="gestao_agenda.recorrencia_pode_levar_minutos">Aguarde, esse procedimento pode levar alguns minutos.</label>
					</div>
				</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_confirmar" translate="modal_cadastro.confirmar">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
