<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_area_detalhes_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_area_detalhes_label">Eventos de convidados</h4>
            </div>

            <div class="text-muted" style="margin: 10px 10px;">
                <i class="fa fa-info-circle"></i>
                <span>O usuário convidado já possui eventos no horário informado. Deseja gerar o evento para ele mesmo assim?</span>
            </div>

            <div class="dx_grid" style="padding: 10px;"></div>

            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_sim btn btn-success">Gerar evento</button>
                <button type="button" class="btn_nao btn btn-danger">Não gerar evento</button>
                <button type="button" class="btn_ok btn btn-primary hidden">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->