<div class="modal bs-modal-lg modal_agenda_email_cliente_preview" tabindex="-1" role="dialog" aria-labelledby="label_modal_agenda_email_cliente_preview" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title label_modal_agenda_email_cliente_preview" translate="gestao_agenda.pre_visual_email">Pré-visualização do E-mail</h4>
            </div>
            <div class="modal-body previsualizacao_email">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn_cancelar" translate="modal_cadastro.fechar">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>