<!-- MODAL ALTERAR SENHA -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_alterar_assinatura_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_alterar_assinatura_label">Assinatura</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-xs-12">
                            <textarea 
                                class="form-control edt_assinatura" name="edt_assinatura" placeholder="Assinatura E-mail" rows="2" required></textarea>
                    </div>
                </div>    
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL ALTERAR SENHA -->