<div class="panel panel-primary">
    <div translate="opcoes_usuario.opcoes_usuario" class="panel-heading">Opções do Usuário</div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-xs-12 col-md-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <span class="preview_logo" style="padding-top: 7px; padding-bottom: 0px;" ><img class="carrega_img"/></span>
                </div>
                <div class="dx_select_tema hidden"></div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    Nome:
                    <br/>
                 <span id="nome"></span>   
                </div>
                <div class="form-group">
                    Usuário:
                    <br/>
                <span id="username"></span>
                </div>
                <div class="form-group">
                    E-mail:
                    <br/>
                <span id="email"></span>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 div_telefone1">
                <div class="form-group">
                    Telefone 1:
                    <br/>
                 <span id="telefone1"></span>   
                </div>
                <div class="form-group div_telefone2">
                    Telefone 2:
                    <br/>
                <span id="telefone2"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 div_telefone3">
                <div class="form-group">
                    Telefone 3:
                    <br/>
                 <span id="telefone3"></span>   
                </div>
                <div class="form-group div_telefone4">
                    Telefone 4:
                    <br/>
                <span id="telefone4"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button translate="opcoes_usuario.alterar_senha" class="btn_nova_senha btn btn-default">Alterar Senha</button>
        <button class="btn_alterar_telefone btn btn-default">Alterar Telefone</button>
        <button class="btn_nova_img btn btn-default">Alterar Foto</button>
        <button class="btn_remover_img btn btn-default">Remover Foto</button>
        <button class="btn_assinatura btn btn-default">Assinatura E-mail</button>
    </div>
</div>
