<!-- MODAL ALTERAR SENHA -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_alterar_senha_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 translate="opcoes_usuario.alterar_senha" class="modal-title" id="modal_alterar_senha_label">Alterar Senha</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label translate="opcoes_usuario.senha_atual" for="modal_assunto_edt_senha_atual">Senha Atual</label>
                    <input type="password" class="edt_senha_atual form-control" id="modal_assunto_edt_descricao" maxlength="150">
                </div>

                <div class="form-group">
                    <label translate="opcoes_usuario.nova_senha" for="modal_assunto_edt_nova_senha">Nova Senha</label>
                    <input type="password" class="edt_nova_senha form-control" id="modal_assunto_edt_descricao" maxlength="150">
                </div>

                <div class="form-group">
                    <label translate="opcoes_usuario.repetir_nova_senha" for="modal_assunto_edt_repetir_nova_senha">Repetir Nova Senha</label>
                    <input type="password" class="edt_repetir_nova_senha form-control" id="modal_assunto_edt_descricao" maxlength="150">
                </div>

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL ALTERAR SENHA -->