<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_pais_selecionar_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_pais_selecionar_label">Selecionar País</h4> 
            </div>
            <div class="modal-body">
           
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="edt_pais">País</label>
                            <input type="text" class="edt_pais form-control" id="edt_pais" placeholder="Filtro por País">
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="tab_listagem table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>País</th>                            
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- itens -->
                            <tr template-row style="display: none;">
                                <td template-field="nome">{nome}</td>                            
                                <td template-buttons="actions">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn_selecionar btn btn-primary">
                                            <span class="glyphicon glyphicon-ok"></span> Selecionar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>
</div>
