<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/img/logo_next.png" width="100"/>
                <h4 id="modal_versao_label" >
                    Business Process
                </h4>
                <div style="margin-top: 10px;">
                    Versão <strong><span class="lbl_versao"></span></strong>
                </div>
                <div>
                    Commit <span class="lbl_commit"></span>
                </div>
                <div style="margin-top: 20px;">
                    Este produto foi desenvolvido pela <a href="https://www.nextsi.com.br" target="_blank">Next SI</a>.
                </div>
                <div>
                    Conheça os produtos Next SI através do site <a href="https://www.nextsi.com.br" target="_blank">https://www.nextsi.com.br</a>.
                </div>
                <div style="margin-top: 20px;">
                    Copyright &copy; 2014-<span class="lbl_ano"></span>
                </div>
            </div>
            
            <!--div class="col-md-4 text-center">
                <div>QR code de acesso por aplicativo</div>
                <div>
                    Instale no <a target="_blank" href="https://play.google.com/store/apps/details?id=br.com.nextsi.nextbp.mobile">Android</a> ou <a href="https://apps.apple.com/br/app/next-bp/id1096795917?l=en">iPhone</a>
                </div>
                <img class="img_qrcode" src=""/>
            </div-->
        </div>
    </div>
</div>

<div class="dx_listagem_versoes"></div>