<div class="modal bs-modal-md" tabindex="-1" role="dialog" aria-labelledby="modal_realtorio_configuracoes_label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_realtorio_configuracoes_label">Configurações de Exibição de Gráficos</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_empresa">Exibir Gráfico por Empresa</label><br /> 
                            <input type="checkbox" class="chk_exibi_empresa checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_empresa">                     
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_cliente">Exibir Gráfico por Cliente</label><br />
                            <input type="checkbox" class="chk_exibi_cliente checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_cliente">                        
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_prospect">Exibir Gráfico por Organização</label><br />
                            <input type="checkbox" class="chk_exibi_prospect checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_prospect">                      
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_fornecedor">Exibir Gráfico por Fornecedor</label><br />
                            <input type="checkbox" class="chk_exibi_fornecedor checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_fornecedor">                 
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_relatorio_configuracoes_chk_exibi_solicitante">Exibir Gráfico por Solicitante</label><br />
                            <input type="checkbox" class="chk_exibi_solicitante checkbox_bootstrap_toggle" id="modal_relatorio_configuracoes_chk_exibi_solicitante">                 
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_responsavel">Exibir Gráfico por Responsável</label><br />
                            <input type="checkbox" class="chk_exibi_responsavel checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_responsavel">              
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_classificacao">Exibir Gráfico por Classificação</label><br />
                            <input type="checkbox" class="chk_exibi_classificacao checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_classificacao">    
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_motivo">Exibir Gráfico por Motivo</label><br />
                            <input type="checkbox" class="chk_exibi_motivo checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_motivo">    
                        </div>
                    </div>

                    

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_grupo_motivo">Exibir Gráfico por Grupo de Motivo</label><br />
                            <input type="checkbox" class="chk_exibi_grupo_motivo checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_grupo_motivo">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_avaliacao">Exibir Gráfico de Avaliação</label><br />
                            <input type="checkbox" class="chk_exibi_avaliacao checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_avaliacao">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_avaliacao_cliente">Exibir Gráfico de Avaliação por Cliente</label><br />
                            <input type="checkbox" class="chk_exibi_avaliacao_cliente checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_avaliacao_cliente">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_avaliacao_empresa">Exibir Gráfico de Avaliação por Empresa</label><br />
                            <input type="checkbox" class="chk_exibi_avaliacao_empresa checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_avaliacao_empresa">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_avaliacao_fornecedor">Exibir Gráfico de Avaliação por Fornecedor</label><br />
                            <input type="checkbox" class="chk_exibi_avaliacao_fornecedor checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_avaliacao_fornecedor">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_avaliacao_organizacao">Exibir Gráfico de Avaliação por Organização</label><br />
                            <input type="checkbox" class="chk_exibi_avaliacao_organizacao checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_avaliacao_organizacao">                         
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibi_tempo_medio">Exibir Gráfico por Tempo médio de resposta/execução por Motivo</label><br />
                            <input type="checkbox" class="chk_tempo_medio checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibi_tempo_medio">   
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_realtorio_configuracoes_chk_exibir_grafico_por_area">Exibir Gráfico por Área</label><br /><br />
                            <input type="checkbox" class="chk_exibir_grafico_por_area checkbox_bootstrap_toggle" id="modal_realtorio_configuracoes_chk_exibir_grafico_por_area">             
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>                
            </div>
        </div>
    </div>
</div>


