<?php
use \Sys\Basic;

class PermissionsEspecifico_Config extends \Sys\Permissions
{
    static function Register() {
        Basic::LoadModel('Usuario');

        $permissions = [
            'exempĺo_permissao_a' => ['especifico' => true, 'descricao' => 'Exemplo Permissão A', 'perfil' => Usuario_Model::USUARIO_TIPO_COLABORADOR],
            'exempĺo_permissao_b' => ['especifico' => true, 'descricao' => 'Exemplo Permissão B', 'perfil' => Usuario_Model::USUARIO_TIPO_COLABORADOR],
            'exempĺo_permissao_c' => ['especifico' => true, 'descricao' => 'Exemplo Permissão C', 'perfil' => Usuario_Model::USUARIO_TIPO_COLABORADOR],
            'exempĺo_permissao_d' => ['especifico' => true, 'descricao' => 'Exemplo Permissão D', 'perfil' => Usuario_Model::USUARIO_TIPO_CLIENTE],
            'exempĺo_permissao_e' => ['especifico' => true, 'descricao' => 'Exemplo Permissão E', 'perfil' => [Usuario_Model::USUARIO_TIPO_CLIENTE, Usuario_Model::USUARIO_TIPO_PROSPECT]],
            'exempĺo_permissao_f' => ['especifico' => true, 'descricao' => 'Exemplo Permissão F', 'perfil' => Usuario_Model::USUARIO_TIPO_CLIENTE],
            'exempĺo_permissao_g' => ['especifico' => true, 'descricao' => 'Exemplo Permissão G', 'perfil' => Usuario_Model::USUARIO_TIPO_FORNECEDOR],
            'exempĺo_permissao_h' => ['especifico' => true, 'descricao' => 'Exemplo Permissão H'], // quando o perfil não for informado, a permissão aparecerá para todos os perfis
        ];

        return $permissions;
    }

}