<style type="text/css">
    .filtro {
        background: #FFF !important;
        color: #000 !important;
        box-shadow: 2px 2px 1px #A9A9A9;
    }
</style>

<div class="row">
    <div class="col-md-12" style="margin-top: 5px; margin-bottom: 10px;">
        <div class="row">
            <div class="col-md-12">
                <div class="dx_toolbar_quadros"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="datagrid hidden "></div>
        <div class="dx_kanban"></div>
    </div>
    
</div>