<style type="text/css">
    .filtro {
        background: #FFF !important;
        color: #000 !important;
        box-shadow: 2px 2px 1px #A9A9A9;
    }
</style>

<div class="row">
    <div class="col-md-12" style="margin-top: 5px; margin-bottom: 10px;">
        <div class="row">
            <div class="col-md-3">
                <div class="dx_textbox_nome_pesquisado filtro"></div>
            </div>
            <div class="col-md-3">
                <div class="dx_dropdown_responsavel filtro"></div>
            </div>
            <div class="col-md-3">
                <div class="dx_dropdown_etiqueta filtro"></div>
            </div>
            <div class="col-md-2">
                <div class="dx_dropdown_situacao filtro"></div>
            </div>
            <div class="col-md-1" style="text-align: center;">
                <div class="dx_button_refresh" style="margin-right: 5px;"></div>
                <div class="dx_button_export"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="datagrid hidden "></div>
        <div class="dx_kanban"></div>
    </div>
    
</div>