<ol class="breadcrumb visible-xs">
    <li class="active">Detalhe Tipo de Evento Agenda</li>
</ol>

<div class="row"> 

    <div class="col-sm-3 col-md-3 col-lg-2">

        <div class="panel panel-default">
            <div class="list-group">
                <a href="#" class="btn_salvar list-group-item">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Salvar
                </a>
                <a href="#" class="btn_excluir list-group-item list-group-item-danger">
                    <span class="glyphicon glyphicon-check"></span>
                    Excluir
                </a>                
                <a href="#" class="btn_cancelar list-group-item">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </a>
            </div>
        </div>    

    </div>    

    <div class="col-sm-9 col-md-9 col-lg-10">        

        <div class="row">                  

            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="edt_descricao">Descrição</label>
                    <span class="text-danger">*</span>
                    <input type="text" class="edt_descricao form-control" maxlength="150" id="edt_descricao" placeholder="Descrição">
                </div>                            
            </div>       

        </div>
        
        <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="form-group">
                    <label for="cbo_motivo" translate="tipo_agenda_oportunidade.exibir_agenda">Exibir na Agenda ?</label><br>
                    <input type="checkbox" class="chk_exibir checkbox_bootstrap_toggle" id="chk_exibir">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="form-group">
                    <label for="cbo_motivo" translate="tipo_agenda_oportunidade.exibir_translado">Exibir Translado?</label><br>
                    <input type="checkbox" class="chk_exibir_translado checkbox_bootstrap_toggle" id="chk_exibir_translado">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="cbo_motivo">Sugerir automaticamente na descrição do evento da agenda</label><br>
                    <input type="checkbox" class="chk_sugerir_no_evento checkbox_bootstrap_toggle" id="chk_sugerir_no_evento">
                </div>
            </div>

        </div>
        
    </div>    

</div>    
        
