<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_usuario_parametros_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_usuario_parametros_label">Pesquisar Usuário</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_admin">Admin</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_admin form-control" id="modal_chk_admin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_grupo_usuarios">Grupo Usuários</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_grupo_usuarios form-control" id="modal_chk_grupo_usuarios">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_analista">Colaborador</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_analista form-control" id="modal_chk_analista">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_cliente">Cliente</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_cliente form-control" id="modal_chk_cliente">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_fornecedor">Fornecedor</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_fornecedor form-control" id="modal_chk_fornecedor">
                        </div>
                    </div>        
                     <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="modal_chk_bloqueado">Bloqueado</label><br />
                            <input type="checkbox" class="checkbox_bootstrap_toggle modal_chk_bloqueado form-control" id="modal_chk_bloqueado">
                        </div>
                    </div>                
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_nome">Nome</label>
                            <input type="text" class="edt_nome form-control" id="modal_usuario_edt_nome" maxlength="50" placeholder="Filtro por nome de usuário">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="modal_usuario_edt_email">E-mail</label>
                            <input type="text" class="edt_email form-control" id="modal_usuario_edt_email" maxlength="50" placeholder="Filtro por e-mail">
                        </div>
                    </div>            
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_pesquisar btn btn-primary">Pesquisar</button>                
            </div>
        </div>
    </div>
</div>