<div class="panel panel-default painel_detalhes" style="-webkit-box-shadow: none; box-shadow: none;">

    <div class="panel-body">

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="form-group div_descricao">
                <label for="modal_tipo_documento_edt_descricao">Descrição</label>
                <input type="text" class="edt_descricao form-control" id="modal_tipo_documento_edt_descricao" maxlength="150">
            </div>

            <div class="row div_responsavel_obrigatorio">
                <div class="col-sm-9">
                    <label for="modal_tipo_documento_pasta_chk_controle_acessos">Habilitar controle de acessos à documentos e pastas deste tipo</label>
                    <input id="modal_tipo_documento_pasta_chk_controle_acessos" class="chk_controle_acessos checkbox_bootstrap_toggle" type="checkbox" value="">
                </div>
            </div>

            <div class="div_permissoes row" style="display: none">
                <div class="col-md-12">

                    <div class="table-responsive" style="padding-bottom: 0px;">
                        <table class="tab_permissoes table">
                            <thead>
                                <th>Usuário</th>
                                <th style="width: 80px"><span class="lbl_visualizacao">Visualização</span></th>
                                <th style="width: 80px"><span class="lbl_download">Download</span></th>
                                <th style="width: 80px"><span class="lbl_escrita">Escrita</span></th>
                                <th style="width: 80px"><span class="lbl_exclusao">Exclusão</span></th>
                                <th style="width: 80px"><span class="lbl_manutencao_revisoes">Manutenção de Revisões</span></th>
                                <th style="width: 80px"><span class="lbl_seguranca">Segurança</span></th>
                                <th class="text-right" style="width: 80px; margin-right: 0px; padding-right: 0px">
                                    <a class="btn_add_usuario btn btn-default">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>
                            </thead>
                            <tbody>
                                <tr template-row style="display: none">
                                    <td>
                                        <span class="img_usuario glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span class="lbl_nome"></span>
                                    </td>
                                    <td>
                                        <input class="chk_visualizacao">
                                    </td>
                                    <td>
                                        <input class="chk_download">
                                    </td>
                                    <td>
                                        <input class="chk_escrita">
                                    </td>
                                    <td>
                                        <input class="chk_exclusao">
                                    </td>
                                    <td>
                                        <input class="chk_manutencao_revisoes">
                                    </td>
                                    <td>
                                        <input class="chk_seguranca">
                                    </td>
                                    <td class="text-right" style="margin-right: 0px; padding-right: 0px">
                                    <a class="btn_usuario_remover btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="div_permissoes row" style="display: none">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="tab_permissoes_grupo table" style="padding-bottom: 0px;">
                            <thead>
                                <th>Grupo</th>
                                <th style="width: 80px"><span class="lbl_visualizacao">Visualização</span></th>
                                <th style="width: 80px"><span class="lbl_download">Download</span></th>
                                <th style="width: 80px"><span class="lbl_escrita">Escrita</span></th>
                                <th style="width: 80px"><span class="lbl_exclusao">Exclusão</span></th>
                                <th style="width: 80px"><span class="lbl_manutencao_revisoes">Manutenção de Revisões</span></th>
                                <th style="width: 80px"><span class="lbl_seguranca">Segurança</span></th>
                                <th class="text-right" style="width: 80px; margin-right: 0px; padding-right: 0px">
                                    <a class="btn_add_grupo btn btn-default">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>
                            </thead>
                            <tbody>
                                <tr template-row style="display: none">
                                    <td>
                                        <span class="img_grupo glyphicon glyphicon-th" aria-hidden="true"></span>
                                        <span class="lbl_nome"></span>
                                    </td>
                                    <td>
                                        <input class="chk_visualizacao">
                                    </td>
                                    <td>
                                        <input class="chk_download">
                                    </td>
                                    <td>
                                        <input class="chk_escrita">
                                    </td>
                                    <td>
                                        <input class="chk_exclusao">
                                    </td>
                                    <td>
                                        <input class="chk_manutencao_revisoes">
                                    </td>
                                    <td>
                                        <input class="chk_seguranca">
                                    </td>
                                    <td class="text-right" style="margin-right: 0px; padding-right: 0px">
                                    <a class="btn_grupo_remover btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
