<?php

function projeto_gantt_html_cabecalho(&$html) {
    // Adicionar um logo no cabeçalho
    $html .= '<div class="col-md-12" style="margin-top: 10px;">';
        $html .= '<img src="https://www.nextsi.com.br/wp-content/uploads/2023/01/logotipo-nextsi-solucoes-erp-automacao.png" alt="Logo Next SI" width="250" />';
    $html .= "</div>";
}

function projeto_gantt_html_rodape(&$html) {
    // Adicionar informações adicionais no rodapé
    $html .= '<div class="col-md-12" style="margin-top: 10px;">';
        $html .= '<h2>Sobre esse projeto</h2>';
        $html .= '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt augue ut libero finibus, eget laoreet nisl semper. Ut libero mauris, blandit a magna at, egestas egestas lorem. Aliquam vehicula orci non diam pharetra lobortis. Donec molestie arcu sollicitudin ullamcorper gravida. Proin aliquam odio nisi, sollicitudin pellentesque purus suscipit in. Curabitur bibendum pellentesque nisi ut pulvinar. Sed ut convallis nunc, eu condimentum nibh. Proin vitae mauris vitae leo ultricies sagittis ac sit amet elit. Quisque at mauris nec ex vulputate varius. Quisque aliquet molestie mi.</p>';
    $html .= "</div>";
}