<ol class="breadcrumb visible-xs">
    <li class="active">Agenda Ativo</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group-btn ">
                    <button type="button" class="btn_salvar btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span translate="tela_cadastro.salvar">Salvar</span>
                    </button>
                    <button type="button" class="btn_excluir btn btn-danger">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span translate="tela_cadastro.excluir">Excluir</span>
                    </button>
                    <button type="button" class="btn_cancelar btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span translate="tela_cadastro.cancelar">Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"><br></div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default painel_detalhes">
            <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
                <div class="pull-right">
                    <!-- -->
                </div>
                <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
                    <li class="active lbl_tab_geral">
                        <a class="tab_geral" id="modal_projeto_geral_tab" href="#" role="tab" data-toggle="tab" translate="agenda_ativos.aba_geral">Geral</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active form_geral" id="">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="" translate="agenda_ativos.codigo">Código</label>
                                <input type="text" class="edt_codigo form-control" translate-placeholder="agenda_ativos.digite_codigo" maxlength="50">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                            <div class="form-group">
                                <label for="edt_nome" translate="agenda_ativos.nome">Nome</label>
                                <input id="edt_nome" type="text" class="form-control edt_nome" translate-placeholder="agenda_ativos.digite_nome" maxlength="100">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="cbo_local" translate="agenda_ativos.local_agenda">Local de Agenda</label><br>
                                <select name="cbo_local" id="cbo_local" class="cbo_local"></select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="cbo_motivo" translate="agenda_ativos.tipo_agenda">Tipo de Agenda</label><br>
                                <select name="cbo_motivo" id="cbo_motivo" class="cbo_motivo"></select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="cbo_motivo" translate="agenda_ativos.bloqueado">Bloqueado?</label><br>
                                <input type="checkbox" class="chk_bloqueado checkbox_bootstrap_toggle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
