<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_assunto_projeto_detalhes_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_assunto_projeto_detalhes_label">Assunto</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal_assunto_projeto_edt_descricao">Descrição</label>
                    <input type="text" class="edt_descricao form-control" id="modal_assunto_projeto_edt_descricao" maxlength="150">
                </div>
                <!--
                <div class="panel panel-default painel_detalhes">
                    <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
                        <div class="pull-right">
                            
                        </div>
                        <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
                            <li class=" active lbl_tab_seguranca">
                                <a id="modal_assunto_projeto_menu_seguranca" href="#modal_assunto_projeto_seguranca" role="tab" data-toggle="tab">Segurança</a>
                            </li>
                        </ul>
                    </div>
                
                    
                    <div class="panel-body">

                       
                        <div class="tab-content">
                            
                            <div class="tab-pane active painel_seguranca" id="modal_assunto_seguranca">
                                
                                <div class="row div_responsavel_obrigatorio">
                                    <div class="col-sm-9">
                                        <label for="modal_assunto_chk_controle_acessos">Habilitar controle de acessos</label>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <div class="checkbox" style="margin-top:0px; padding-left: 0px; margin-left: 0px;">
                                            <input id="modal_assunto_chk_controle_acessos" class="chk_controle_acessos" type="checkbox" value="">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="div_permissoes row" style="display: none">
                                    <div class="col-md-12">


                                        <div class="table-responsive">
                                            <table class="tab_permissoes table">
                                                <thead>
                                                    <th>Usuário / Grupo</th>
                                                    <th style="width: 80px"><span class="lbl_leitura">Leitura</span></th>
                                                    <th style="width: 80px"><span class="lbl_escrita">Escrita</span></th>
                                                    <th style="width: 80px"><span class="lbl_exclusao">Exclusão</span></th>
                                                </thead>
                                                <tbody>
                                                    <tr template-row style="display: none">
                                                        <td>
                                                            <span class="img_usuario glyphicon glyphicon-user" aria-hidden="true"></span>
                                                            <span class="img_grupo glyphicon glyphicon-th" aria-hidden="true"></span>
                                                            <span class="lbl_nome"></span>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="template_switch chk_leitura" value="leitura">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="chk_escrita template_switch" value="escrita">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" class="chk_exclusao template_switch" value="exclusao">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="tab-pane" id="modal_assunto_nova_versao">
                                <div class="row">
                                    <div class="col-md-12">
                                        Nova div
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
               
                </div>
                 -->
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
                <button type="button" class="btn_excluir btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->