<!-- Excluir chamado -->
<div class="modal " tabindex="-1" role="dialog" aria-labelledby="excChaModLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="excChaModLabel">Exclusão de chamado</h4>
      </div>
      <div class="modal-body">
        <p>
        O chamado será excluido.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
        <button type="button" class="btn btn-primary btn_excluir">Excluir chamado</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->