<div class="row">
    <div class="col-md-12">
        <div class="pull-right" style="padding-right: 15px">
            <button type="button" class="btn_ok btn btn-default">Ok</button>
        </div>
        <span class="lbl_nome">Formulário</span>
    </div>
</div>

<div class="scrollview" style="background-color: #ffffff;">
    <div class="form-editor">
    
        <div class="form-grupos panel-body">
            
        </div>

        <div class="form-grupo" template-grupo template-ref="" style="display: none;">
            <div>
                <h1 class="text-primary lbl_grupo_nome" style="font-size: medium;"></h3>
            </div>
            
            <!-- Esta sendo realizado no util -->
            
        </div>

        <div class="form-grupo-campo" template-campo template-ref="" style="display: none;">
            <div class="div_campo form-group">
                <span class="lbl_obrigatorio text-danger">* </span>
                <label class="lbl_nome">{Nome}</label>
                <div class="div_input">
                    <!-- elemento do campo -->
                </div>
            </div>
        </div>

        
    </div>
</div>