<div style="margin-top: 4px;">
	<div class="hidden list_group div_notificacao" style="padding-left: 1px; padding-bottom: 2px;" template-notificacao>
	    <a href="#" class="list-group-item">
	    	<div class="row">
	    		<div class="col-xs-3">
	    			<img style="min-height: 50px; min-width: 50px; max-height: 50px; max-width: 50px; padding:1px; border:1px solid #021a40;" class="carrega_img_notificacoes"/>	
	    		</div>
	    		<div class="cols-xs-9">
	    			<span class="small" template-field="notificacoes">{notificacoes}</span>
	        		<span class="fa fa-check hidden check_notificacao" style="color:green"></span>	
	    		</div>
	    	</div>  
	    </a>
	</div>
	<div class='notificacao'></div>
</div>



  