<!-- MODAL DETALHE -->
<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_calendario_trabalho_detalhes_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_calendario_trabalho_detalhes_label">Calendário de Trabalho</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="modal_calendario_trabalho_edt_nome">Nome</label>
                    <input type="text" class="edt_nome form-control" id="modal_calendario_trabalho_edt_nome" maxlength="150">
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Dia</th>
                              <th>Manhã<br>Início</th>
                              <th>Fim</th>
                              <th>Tarde<br>Início</th>
                              <th>Fim</th>
                              <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 140px">
                                    <label>Domingo</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_dom_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_dom_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_dom_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_dom_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Segunda-feira</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_seg_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_seg_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_seg_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_seg_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Terça-feira</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_ter_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_ter_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_ter_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_ter_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Quarta-feira</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qua_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qua_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qua_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qua_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Quinta-feira</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qui_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qui_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qui_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_qui_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Sexta-feira</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sex_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sex_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sex_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sex_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td style="width: 140px">
                                    <label>Sábado</label>
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sab_manha_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sab_manha_fim form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sab_tarde_inicio form-control text-center">
                                </td>
                                <td style="width: 100px">
                                    <input type="time" style="width: 100px" class="edt_sab_tarde_fim form-control text-center">
                                </td>
                                <td>&nbsp;</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
                <button type="button" class="btn_excluir btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- /MODAL DETALHE -->