<ol class="breadcrumb visible-xs">
    <li class="active">Agenda Ativo</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group-btn ">
                    <button type="button" class="btn_salvar btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp;
                        <span translate="generico.salvar"></span>
                       
                    </button>
                    <button type="button" class="btn_excluir btn btn-danger">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp;
                        <span translate="generico.excluir"></span>
                    </button>
                    <button type="button" class="btn_cancelar btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;
                        <span translate="generico.cancelar"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"><br></div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default painel_detalhes">
            <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
                <div class="pull-right">
                    <!-- -->
                </div>
                <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
                    <li class="active lbl_tab_geral">
                        <a class="menu_geral" role="tab" data-toggle="tab" translate="tipo_item.geral"></a>
                    </li>
                    <li class="lbl_tab_modulo">
                        <a class="menu_modulo" role="tab" data-toggle="tab" translate="tipo_item.modulo"></a>
                    </li>
                    <li class="lbl_tab_personalizados">
                        <a class="menu_personalizados_tab" role="tab" data-toggle="tab">Campos Personalizados</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active aba_geral">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="" translate="tipo_item.codigo"></label>
                                <input type="text" class="edt_codigo form-control" translate-placeholder="tipo_item.placeholder_codigo" maxlength="50">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                            <div class="form-group">
                                <label for="edt_descricao" translate="tipo_item.descricao"></label>
                                <input id="edt_descricao" type="text" class="form-control edt_descricao" translate-placeholder="tipo_item.placeholder_descricao" maxlength="100">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="cbo_motivo" translate="tipo_item.bloqueado"></label><br>
                                <input type="checkbox" class="chk_bloqueado checkbox_bootstrap_toggle">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane aba_modulo">
                        <h3>
                            Módulo - Envolvido
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <label for="">Projeto</label>
                                    <br>
                                    <input type="checkbox" class="checkbox_bootstrap_toggle chk_modulo_projeto">
                                </div>
                                <div class="col-md-1">
                                    <label for="">CRM</label> 
                                    <br>
                                    <input type="checkbox" class="checkbox_bootstrap_toggle chk_modulo_crm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane frm_personalizados">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 div_cbo_vincular_form">
                            <label>Vincular Formulário</label>   
                            <div class="form-group">
                                <select id="cbo_vincular_form" class="form-control selectpicker cbo_vincular_form show-tick" data-live-search="true" title="Vincular Formulário">
                                </select>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
