<div class="modal modal_projeto_atividade_historico_baseline" tabindex="-1" role="dialog" aria-labelledby="label_modal_oportunidades_representante" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title label_modal_projeto_atividade_historico_baseline" translate="oportunidade.oportunidades_representante">Histórico Baseline</h4>
            </div>
            <div class="modal-body">
                <div modo-visualizacao="T" class="" style="display: block;">
                    <div class="grid_projeto_atividade_historico_baseline"></div>
                    <br>
                    <button class="btn btn-primary btn_cancelar">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>