<div class="modal formulario_modal-md modal_importar_template" id="modal_importar_template" tabindex="-1" role="dialog" aria-labelledby="label_importar_template" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn_cancelar" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="label_importar_template">Importar do Template</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="template">Projetos Templates</label>
                  <select class="form-control selectpicker cbo_projetos_template" data-live-search="true" id="template" name="template">
                  </select>

                </div>
            </div>   
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn btn-default btn_cancelar">Cancelar</button>
                <button type="button" class="btn btn-primary btn_confirmar">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>