<ol class="breadcrumb visible-xs">
    <li class="active">Atividade de Projeto</li>
</ol>

<div class="familia_fonte" style="margin-top: 5px; margin-bottom: 10px; display: flex; gap: 15px;">

    <div>
        <div class="btn-group">
            <button type="button" class="btn_detalhes btn btn-default btn-sm">
                <span class="glyphicon glyphicon-flash"></span> Ações
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a class="btn_email" href="javascript:;">
                        <span class="glyphicon glyphicon-envelope"></span>
                        E-mail
                    </a></li>
                    <li><a class="btn_editar_projeto" href="javascript:;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Editar Projeto
                    </a></li>
                </ul>
            </div>
        </div>
        
        <div class="visible-xs clearfix" style="margin-bottom:5px;"></div>
        
        <div class="btn-group">
            <button type="button" class="btn_detalhes btn btn-default btn-sm">
                <span class="fa fa-exchange-alt"></span> Importar/Exportar
            </button>
    
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a class="btn_importar_template" href="javascript:;">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <i class="fa fa-upload icon-on-top" aria-hidden="true"></i>
                        Importar Template
                    </a></li>
                    <li><a class="btn_exportar_marco" href="javascript:;">
                        <i class="fa fa-file-excel" aria-hidden="true"></i>
                        <i class="fa fa-download icon-on-top" aria-hidden="true"></i>
                        Exportar Marco
                    </a></li>
                    <li><a class="btn_exportar" href="javascript:;">
                        <i class="fa fa-file-excel" aria-hidden="true"></i>
                        <i class="fa fa-download icon-on-top" aria-hidden="true"></i>
                        Exportar Planilha
                    </a></li>
                    <li><a class="btn_importar" href="javascript:;">
                        <i class="fa fa-file-excel" aria-hidden="true"></i>
                        <i class="fa fa-upload icon-on-top" aria-hidden="true"></i>
                        Importar Planilha
                    </a></li>
                    <li><a class="btn_importar_msproject" href="javascript:;">
                        <i class="fa fa-file-code" aria-hidden="true"></i>
                        <i class="fa fa-upload icon-on-top" aria-hidden="true"></i>
                        Importar XML (MS Project)
                    </a></li>
                    <li><a class="btn_exportar_pdf hidden" href="javascript:;">
                        <i class="fa fa-file-pdf" aria-hidden="true"></i>
                        <i class="fa fa-download icon-on-top" aria-hidden="true"></i>
                        Exportar PDF
                    </a></li>
                    <li><a class="btn_exportar_msproject" href="javascript:;">
                        <i class="fa fa-file-code" aria-hidden="true"></i>
                        <i class="fa fa-download icon-on-top" aria-hidden="true"></i>
                        Exportar XML (MS Project)
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <span class="info_importacao_pendente hidden" style="position: relative; top: 8px; font-weight: bold; color: #FF6347; font-size: 14px; cursor: pointer;" title="Clique aqui para mais informações">
            <i class="fas fa-info-circle"></i>
            Importação pendente de atividades de Template
        </span>
    </div>

    <div class="visible-xs clearfix" style="margin-bottom:5px;"></div>
</div>

<div class="dx_listagem_atividade_projeto"></div>