<div class="modal bs-modal-md" tabindex="-1" role="dialog" aria-labelledby="modal_item_configuracoes_label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_item_configuracoes_label">Configurações</h4>
            </div>
            <div class="modal-body">  
    
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="chk_desconto">Desconto(%)</label>&nbsp;
                            <input type="checkbox" id="chk_desconto" class="form-control chk_desconto">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="chk_ipi">IPI</label>&nbsp;
                            <input type="checkbox" id="chk_ipi" class="form-control chk_ipi">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="chk_somente_consulta">Habilitar somente consulta</label>&nbsp;
                            <input type="checkbox" class="chk_somente_consulta form-control" id="chk_somente_consulta">                        
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="chk_bloquear_codigo_item">Bloquear edição do campo "Código"</label>&nbsp;
                            <input type="checkbox" class="chk_bloquear_codigo_item form-control" id="chk_bloquear_codigo_item">                        
                        </div>
                    </div>                    
                </div>
                
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>                
            </div>
        </div>
    </div>
</div>


