<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_municipio_detalhes_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_municipio_detalhes_label">Município</h4>
            </div>
            <div class="modal-body">
                <div class="row"> 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="edt_cod_municipio">Cód. Município</label>
                            <input type="text" class="edt_cod_municipio form-control" maxlength="7" id="edt_cod_municipio" placeholder="Cód. Município">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="edt_municipio">Município</label>
                            <input type="text" class="edt_municipio form-control" maxlength="50" id="edt_municipio" placeholder="Município">
                        </div>
                    </div>                
                </div>
                <div class="row">                 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="edt_cod_uf">Cód. UF</label>
                            <input type="text" class="edt_cod_uf form-control" maxlength="2" id="edt_cod_uf" placeholder="Cód. UF">
                        </div>
                    </div>                
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="edt_uf">UF</label>
                            <input type="text" class="edt_uf form-control" maxlength="20" id="edt_uf" placeholder="UF">
                        </div>
                    </div>                    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="edt_uf_sigla">UF (Sigla)</label>
                            <input type="text" class="edt_uf_sigla form-control" maxlength="2" id="edt_uf_sigla" placeholder="UF (Sigla)">
                        </div>
                    </div>                
                </div>                
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
                <button type="button" class="btn_excluir btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>