<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_municipio_parametros_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_municipio_parametros_label">Pesquisar Município</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label for="edt_municipio">Município</label>
                            <input type="text" class="edt_municipio form-control" id="edt_municipio" placeholder="Filtro por Município">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label for="edt_uf">UF (Descrição)</label>
                            <input type="text" class="edt_uf form-control" id="edt_uf" placeholder="Filtro por UF (Descrição)">
                        </div>
                    </div>            
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="edt_uf_sigla">UF (Sigla)</label>
                            <input type="text" class="edt_uf_sigla form-control" id="edt_uf_sigla" placeholder="Filtro por UF (Sigla)">
                        </div>
                    </div>                                
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_pesquisar btn btn-primary">Pesquisar</button>                
            </div>
        </div>
    </div>
</div>