<div class="modal bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_municipio_selecionar_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_municipio_selecionar_label">Selecionar Município</h4> 
            </div>
            <div class="modal-body">
           
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="edt_municipio">Município</label>
                            <input type="text" class="edt_municipio form-control" id="edt_municipio" placeholder="Filtro por Município">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="edt_uf_sigla">UF (Sigla)</label>
                            <input type="text" class="edt_uf_sigla form-control" id="edt_uf_sigla" placeholder="UF">
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="tab_listagem table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Município</th>                            
                                <th>Estado</th>                                   
                                <th>UF (Sigla)</th>                                                                                                                     
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- itens -->
                            <tr template-row style="display: none;">
                                <td template-field="municipio">{municipio}</td>                            
                                <td template-field="uf">{uf}</td>                            
                                <td template-field="uf_sigla">{uf_sigla}</td>                                                            
                                <td template-buttons="actions">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn_selecionar btn btn-primary">
                                            <span class="glyphicon glyphicon-ok"></span> Selecionar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
            </div>
        </div>
    </div>
</div>
