<ol class="breadcrumb visible-xs">
    <li class="active">Assuntos do Documento</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <button type="button" class="btn_novo btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Novo
        </button>
        <button type="button" class="btn_listar btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </nav>

    <div class="">

        <table class="tab_listagem table table-striped table-hover">
            <thead>
                <tr>
                    <th class="hidden-xs">Descrição</th>
                    <th class="hidden-xs text-center">Padrão do Chamados</th>
                    <th class="hidden-xs text-center">Padrão do Sistema</th>
                    <th class="hidden-xs text-center">Padrão do Projetos</th>
                    <th class="hidden-xs text-center">Padrão do Processos</th>
                    <th class="hidden-xs text-center">Padrão do Documentos</th>
                    <th class="hidden-xs text-center">Padrão Atendimento Relacionamento</th>
                    <th style="width: 160px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- itens -->
                <tr template-row style="display: none;">
                    <!-- MOBILE -->
                    
                    <td class="td-mobile visible-xs">
                        
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn_visualizar btn btn-default">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <button type="button" class="btn_editar btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn_excluir btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>

                        </div>

                        <h4 template-field="descricao">{descricao}</h4>
                        
                        <div class="small text-muted">
                            <div>
                                <span class="glyphicon" template-field="padrao_chamados" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão do Chamados</span>
                            </div>
                            <div>
                                <span class="glyphicon" template-field="padrao_sistema" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão do Sistema</span>
                            </div>

                            <div>
                                <span class="glyphicon" template-field="padrao_projeto" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão do Projetos</span>
                            </div>

                            <div>
                                <span class="glyphicon" template-field="padrao_processo" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão do Processos</span>
                            </div>

                            <div>
                                <span class="glyphicon" template-field="padrao_documentos" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão do Documentos</span>
                            </div>

                            <div>
                                <span class="glyphicon" template-field="padrao_atendimento_relacionamento" style="min-width: 20px;"></span>
                                <span class="text-left">Padrão Atendimento Relacionamento</span>
                            </div>
                        </div>

                        
                    </td>
                 
                    <!-- MOBILE -->

                    <td class="hidden-xs">
                        <span template-field="descricao">
                            {descricao}
                        </span>
                        <span class="ico_controle_acessos glyphicon glyphicon-lock small" style="display: none;"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_chamados"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_sistema"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_projeto"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_processo"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_documentos"></span>
                    </td>
                    <td class="hidden-xs text-center text-success">
                        <span class="glyphicon" template-field="padrao_atendimento_relacionamento"></span>
                    </td>                    
                    <td class="hidden-xs" template-buttons="actions">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn_editar btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="btn_visualizar" href="#">
                                        Visualizar
                                    </a></li>
                                    <li><a class="btn_excluir" href="#">
                                        Excluir
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<!-- /LISTAGEM -->