<ol class="breadcrumb visible-xs">
    <li class="active">Configurar Signatários</li>
</ol>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-default painel_detalhes">
        <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
            <br>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div id="grid_signatarios" class="grid_signatarios">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>