<ol class="breadcrumb visible-xs">
    <li class="active">Documentos</li>
</ol>
    
<div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default painel_detalhes">
            <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">  
                        <div class="form-group">
                            <button class="btn btn-primary btn_solicitar_assinaturas">
                                <span class="fa fa-address-card"></span>
                                Solicitar Assinaturas
                            </button>
                            <button type="button" class="btn btn-default btn_refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="min-height: 700px">
                <div class="tab-content">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row" style="margin-top: 10px">
                            <div id="treelist_historico_documento_certsign" class="treelist_historico_documento_certsign"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>