<!--Visualização do E-Mail -->
<div class="modal bs-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_fechar close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Visualização do E-Mail</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6">
                      <br>
                      <span style="font-weight: bold; font-size: 15px;">Para:</span>&nbsp;&nbsp;<span class="para"></span>
                    </div>

                    <div class="col-md-6">
                      <br>
                      <span style="font-weight: bold; font-size: 15px;">Data:</span>&nbsp;&nbsp;<span class="data_solicitacao_envio"></span>
                    </div>

                    <div class="col-md-12">
                      <br>
                      <span style="font-weight: bold; font-size: 15px;">Assunto:</span>&nbsp;&nbsp;<span class="assunto"></span>
                    </div>

                    <div class="col-md-12 corpo_email">

                    </div>

                  <div class="row hidden div_anexos" style="display: inline-block; position: relative; bottom: 5px; left: 15px;">
                    <div class="anexos col-xs-12 col-sm-12 col-md-12"></div>
                  </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_fechar">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- /Visualização do E-Mail -->