<ol class="breadcrumb visible-xs">
    <li >Chamados</li>
    <li class="active">Prioridades do Chamado</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <button type="button" class="btn_novo btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Nova
        </button>
        <button type="button" class="btn_listar btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </nav>

    <div class="table-responsive">

        <table class="tab_listagem table table-striped table-hover">
            <thead>
                <tr>
                    <th width='15px'>Sequência</th>
                    <th class="text-center" >Nome</th>
                    <th class="text-center" >Padrão</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- itens -->
                <tr template-row style="display: none;">

                    <td width='15px' template-field="order_action" class="btn_sequencia_tr">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default" template-button="order_up">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                            <button type="button" class="btn btn-default" template-button="order_down">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </div>
                    </td>

                    <td class="text-center" template-field="nome">{nome}</td>
                    <td class="text-center text-success">
                        <span class="glyphicon" template-field="padrao"></span>
                    </td>
                    <td template-buttons="actions">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn_editar btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="btn_visualizar" href="#">
                                        Visualizar
                                    </a></li>
                                    <li><a class="btn_excluir" href="#">
                                        Excluir
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<!-- /LISTAGEM -->