<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_motivo_bloqueio_detalhes_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_motivo_bloqueio_detalhes_label">Substituir arquivo da revisão</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Código</label>
                            <div class="lbl_codigo">{lbl_codigo}</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Nome do Documento</label>
                            <div class="lbl_nome">{lbl_nome}</div>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="form-group">
                            <label>Revisão</label>
                            <div class="lbl_revisao">{lbl_revisao}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Arquivo</label>
                            <div class="lbl_arquivo">{lbl_arquivo}</div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="form-group">
                            <label>Tamanho</label>
                            <div class="lbl_tamanho">{lbl_tamanho}</div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <label>Selecione o novo arquivo que deseja substituir</label>
                        <div class="div_novo_arquivo"></div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->