<div class="modal-body div_viewer">

    <div class="hidden-xs" style="text-align: center">
        <span href="#" class="alert-link"><i class="fa fa-info-circle text-info" aria-hidden="true"></i>
            <strong>Dica: </strong> Você pode controlar o zoom da imagem segurando <strong>Shift</strong> e rolando o <strong>scroll do mouse</strong>
        </span>
    </div>
    <br />
    <div class="alert alert-danger doc_bloqueado hidden" style="text-align: center">
        <span href="#" class="alert-link"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <strong> Atenção! Você está visualizando um documento </strong> Bloqueado
        </span>
    </div>

    <div class="alert alert-danger doc_rev_reprovado hidden" style="text-align: center">
        <span href="#" class="alert-link"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <strong> Atenção! Você está visualizando uma revisão </strong> Reprovada
        </span>
    </div>

    <div class="alert alert-info doc_rev_pendente hidden" style="text-align: center">
        <span href="#" class="alert-link"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <strong> Atenção! Você está visualizando uma revisão </strong> Pendente
        </span>
    </div>

    <div class="alert alert-warning doc_rev_obsoleto hidden" style="text-align: center">
        <span href="#" class="alert-link"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <strong> Atenção! Você está visualizando uma revisão </strong> Obsoleta
        </span>
    </div>
</div>
<div class="modal-body div_viewer" style="text-align: center">
    <div class="modal-body div_viewer" style="text-align: center">
        <button class="btn btn-default rotateLeft"><i class="fa fa-undo"></i></button>
        <button class="btn btn-default rotateRight"><i class="fa fa-redo"></i></button>
    </div>
    <img class="carrega_img" style="max-width: 100%; pointer-events: none;"/>
</div>