<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_cores_atividades_execucao_detalhes_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_cores_atividades_execucao_detalhes_label">Cor de atividades por % de conclusão</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edt_inicio">Início</label>
                            <input type="text" class="edt_inicio form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edt_fim">Fim</label>
                            <input type="text" class="edt_fim form-control">
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-md-6">                                                           
                        <div class="form-group">                                                  
                            <label for="cbo_cor">Cor</label>
                            <div class="cb_color form-control" ></div>
                        </div>
                    </div>
                    <div class="col-md-6">                                                           
                        <div class="form-group">                                                  
                            <label for="cb_color_fonte">Cor Fonte</label>
                            <div class="cb_color_fonte form-control">
                            </div>
                        </div>
                    </div>
                </div>     

            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
                <button type="button" class="btn_excluir btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>