<!-- MODAL DETALHE -->
<div class="modal modal_teste" tabindex="-1" role="dialog" aria-labelledby="modal_usuario_curtida_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_usuario_curtida_label">Pessoas que curtiram essa mensagem</h4>
            </div>
            
            <div class="modal-body modal_carregar_curtida" style="height: 400px; overflow-y: auto;">

                <table class="tab_listagem table">
                    <tbody>
                        <tr template-row style="display: none;">
                            <td template-field="img_usuario_curtida"><img class="carrega_img"/></td>
                            <td><label class="text-center" template-field="nome_usuario_curtida" style="padding-top: 20px;">{nome_usuario}</label></td>
                        </tr>          
                    </tbody>
                </table>
               <div class="hidden div_mostar_mais_curtidas">
                    <button class="btn btn-link btn_mostrar_mais_curtidas"> 
                        Mostrar mais...
                    </button>
                </div>          
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default btn-primary">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->
