<ol class="breadcrumb visible-xs">
    <li class="active">Áreas</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <button type="button" class="btn_novo btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Nova Área de Foco
        </button>
        <button type="button" class="btn_listar btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </nav>

    <div >

        <table class="tab_listagem table table-striped table-hover">
            <thead>
                <tr>
                    <th class="hidden-xs">Área Foco</th>
                    <th class="hidden-xs">Quantidade</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- itens -->
                <tr template-row style="display: none;">

                    <!-- mobile -->
                    <td class="td-mobile visible-xs">
                        
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn_editar btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn_excluir btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>

                        <h4 template-field="nome">Área Foco</h4>
                        <h4 template-field="quantidade">Quantidade</h4>
                    </td>
                    <!-- /mobile -->

                    <td class="hidden-xs" template-field="nome">{nome}</td>
                    <td class="hidden-xs" template-field="quantidade">{quantidade}</td>
                    
                    <td class="hidden-xs" template-buttons="actions">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn_editar btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="btn_visualizar" href="#">
                                        Visualizar
                                    </a></li>
                                    <li><a class="btn_excluir" href="#">
                                        Excluir
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td class="qtd"></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

    </div>

</div>

<!-- /LISTAGEM -->