<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function chamado_mensagem_salvar_antes($mensagem_model, $chamado_model) {
	// ação antes de salvar uma mensagem de chamado

	// visualizar estrutura dos objetos:
	print_r($mensagem_model);
	print_r($chamado_model);

	// adiciono no final da mensagem um texto de exemplo
	$mensagem_model->mensagem .= ' Código de exemplo';
};

function chamado_mensagem_salvar_depois($mensagem_model, $chamado_model) {
	// ação depois de salvar uma mensagem de chamado
	
	// visualizar estrutura dos objetos:
	print_r($mensagem_model);
	print_r($chamado_model);
};