<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function documento_revisao_excluir_antes($documento_revisao_model) {

};

function documento_revisao_excluir_depois($documento_revisao_model) {

};