<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function documento_revisao_aprovar_antes($documento_revisao_model, $documento_model, $documento_pasta_model) {

};

function documento_revisao_aprovar_depois($documento_revisao_model, $documento_model, $documento_pasta_model) {

};

function documento_revisao_reprovar_antes($documento_revisao_model, $documento_model, $documento_pasta_model) {
	
};

function documento_revisao_reprovar_depois($documento_revisao_model, $documento_model, $documento_pasta_model) {
	
};

function documento_revisao_estornar_aprovacao_antes($documento_revisao_model, $documento_model, $documento_pasta_model) {
	
};

function documento_revisao_estornar_aprovacao_depois($documento_revisao_model, $documento_model, $documento_pasta_model) {
	
};

function documento_revisao_alcada_aprovar_antes($documento_revisao_id) {
    
};

function documento_revisao_alcada_aprovar_depois($documento_revisao_id) {

};

function documento_revisao_alcada_reprovar_antes($documento_revisao_id) {
	
};

function documento_revisao_alcada_reprovar_depois($documento_revisao_id) {
	
};