<?php

use \Sys\PE;
use \Sys\App;

// Exemplo de ponto de entrada que bloqueia reabertura de chamados
PE::add('chamado_mensagem_salvar_antes', function($mensagem_model, $chamado_model) {
    if ($mensagem_model->tipo == Mensagem_Model::MENSAGEM_TIPO_REABERTURA) {
        App::exception('Reabertura não permitida para o chamado #' . $chamado_model->id);
    }
});

/*

Lista de todos os pontos de entradas que podem ser utilizados no Next BP.

================================== Atenção ================================== 
Pontos de entrada alteram o funcionamento padrão do Next BP, podendo ocasionar falhas durante o uso do sistema.
Declare pontos de entrada somente se necessário.
=============================================================================

// Central de Pendências
PE::add('central_pendencias_salvar_antes', function($central_pendencias_model) { ... });
PE::add('central_pendencias_salvar_depois', function($central_pendencias_model) { ... });
PE::add('central_pendencias_excluir_antes', function($central_pendencias_model) { ... });
PE::add('central_pendencias_excluir_depois', function($central_pendencias_model) { ... });

// Agenda
PE::add('agenda_contato_listagem_where', function($sql, $params) { ... });

// Cubo
PE::add('cubo_job_antes', function(Cubo_Model $cubo_model, array &$resultado) { ... });
PE::add('cubo_job_depois', function(Cubo_Model $cubo_model, array &$resultado) { ... });
PE::add('cubo_get_datasource', function(Cubo_Model $cubo_model, object &$datasource) { ... });

// Tarefas
PE::add('tarefas_mover_cartao_lista_antes', function($tarefa_quadro_lista_cartao_model) { ... });
PE::add('tarefas_mover_cartao_lista_depois', function($tarefa_quadro_lista_cartao_model) { ... });
PE::add('tarefa_quadro_lista_cartao_salvar_antes', function($tarefa_quadro_lista_cartao_model) { ... });
PE::add('tarefa_quadro_lista_cartao_salvar_depois', function($tarefa_quadro_lista_cartao_model) { ... });

// Chamados
PE::add('chamado_mensagem_salvar_antes', function($mensagem_model, $chamado_model) { ... });
PE::add('chamado_mensagem_salvar_depois', function($mensagem_model, $chamado_model) { ... });
PE::add('chamado_popular_depois', function($chamado_model) { ... });

// Documentos
PE::add('documento_revisao_alcada_reprovar_antes', function($documento_revisao_id) { ... });
PE::add('documento_revisao_alcada_aprovar_antes', function($documento_revisao_id) { ... });
PE::add('documento_revisao_alcada_reprovar_depois', function($documento_revisao_id) { ... });
PE::add('documento_revisao_alcada_aprovar_depois', function($documento_revisao_id) { ... });
PE::add('documento_pasta_salvar_antes', function($documento_pasta_model) { ... });
PE::add('documento_pasta_salvar_depois', function($documento_pasta_model) { ... });
PE::add('documento_pasta_excluir_antes', function($documento_pasta_model) { ... });
PE::add('documento_pasta_excluir_depois', function($documento_pasta_model) { ... });
PE::add('documento_revisao_aprovar_antes', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_aprovar_depois', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_reprovar_antes', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_reprovar_depois', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_estornar_aprovacao_antes', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_estornar_aprovacao_depois', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_revisao_excluir_antes', function($documento_revisao_model) { ... });
PE::add('documento_revisao_excluir_depois', function($documento_revisao_model) { ... });
PE::add('documento_salvar_antes', function($documento_model, $copia, $recorte) { ... });
PE::add('documento_salvar_depois', function($documento_model, $copia, $recorte) { ... });
PE::add('documento_bloquear_desbloquear_antes', function($documento_model) { ... });
PE::add('documento_bloquear_desbloquear_depois', function($documento_model) { ... });
PE::add('documento_nova_revisao_antes', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_nova_revisao_depois', function($documento_revisao_model, $documento_model, $documento_pasta_model) { ... });
PE::add('documento_excluir_antes', function($documento_model) { ... });
PE::add('documento_excluir_depois', function($documento_model) { ... });
PE::add('documento_download_antes', function(&$documento_revisao_model, &$documento_model, &$arquivo) { ... });

// Processos
PE::add('solicitacao_atividade_enviar_commit', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_enviar_rollback', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_nova_antes', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_nova_depois', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_salvar_antes', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_salvar_depois', function($solicitacao_atividade_model) { ... });
PE::add('solicitacao_atividade_enviar_antes', function($solicitacao_atividade_model, $anexos, $acao, $destinos) { ... });
PE::add('solicitacao_atividade_enviar_depois', function($solicitacao_atividade_model, $anexos, $acao, $proximas_salvas) { ... });
PE::add('solicitacao_atividade_retornar_antes', function() { ... });
PE::add('solicitacao_atividade_retornar_depois', function($retorno_solicitacao_atividade_model, $anexos, $acao, $proximas_salvas) { ... });
PE::add('solicitacao_cancelar_antes', function($solicitacao_model) { ... });
PE::add('solicitacao_cancelar_depois', function($solicitacao_model) { ... });
PE::add('solicitacao_preencher', function(&$solicitacao_model, &$historico) { ... });
PE::add('solicitacao_preencher_historico', function(&$solicitacao_model, &$historico) { ... });
PE::add('solicitacao_atividade_preencher', function($solicitacao_atividade_model) { ... });
PE::add('consultar_situacao_gateway_override', function($versao_processo_gateway_id, $solicitacao_model, $solicitacao_atividade_versao_processo_atividade_id, $destinos) { ... });
PE::add('solicitacao_atividade_consultar_situacao_gateway_paralelo', function($solicitacao_model, $versao_processo_gateway_id, $qtde_origens_gateway, $total_atividades_aguardando_envio) { ... });
PE::add('processo_solicitacao_formulario_pdf_antes', function($solicitacao_atividade, $solicitacao, $formulario) { ... });

// Projeto
PE::add('projeto_salvar_antes', function(&$projeto_model) { ... });
PE::add('projeto_salvar_depois', function($projeto_model) { ... });
PE::add('apontamento_projeto_salvar_antes', function($apontamento_projeto_model) { ... });
PE::add('apontamento_projeto_salvar_depois', function($apontamento_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_iniciar_antes', function($atividade_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_iniciar_depois', function($atividade_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_pausar_antes', function($atividade_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_pausar_depois', function($atividade_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_entregar_antes', function($atividade_projeto_model) { ... });
PE::add('apontamento_projeto_dinamico_entregar_depois', function($atividade_projeto_model) { ... });
PE::add('apontamento_ordem_servico_html_pdf', function($html) { ... });

// CRM
PE::add('oportunidade_mover_etapa_antes', function($funil_vendas_id, $funil_vendas_etapa_id, $funil_vendas_etapa_anterior, $oportunidade_id) { ... });
PE::add('oportunidade_mover_etapa_depois', function($funil_vendas_id, $funil_vendas_etapa_id, $funil_vendas_etapa_anterior, $oportunidade_id) { ... });
PE::add('oportunidade_salvar_antes', function($oportunidade_model) { ... });
PE::add('oportunidade_salvar_depois', function($oportunidade_salva_model) { ... });
PE::add('oportunidade_nova_antes', function($oportunidade_model) { ... });
PE::add('oportunidade_nova_depois', function($oportunidade_model) { ... });
PE::add('oportunidade_excluir_antes', function($oportunidade_model) { ... });
PE::add('oportunidade_excluir_depois', function($oportunidade_model) { ... });
PE::add('oportunidade_salvar_item_antes', function($oportunidade_model, $item_corrente, $oportunidade_item_model) { ... });
PE::add('oportunidade_salvar_item_depois', function($oportunidade_model, $item_corrente, $oportunidade_item_model) { ... });
PE::add('oportunidade_atualizar_situacao_antes', function($old_model, $situacao, $data_situacao, $motivo_perda_negocio_id, $observacao_oportunidade_perdida) { ... });
PE::add('oportunidade_atualizar_situacao_depois', function($oportunidade_model, $situacao, $data_situacao, $motivo_perda_negocio_id, $observacao_oportunidade_perdida) { ... });
PE::add('oportunidade_item_listar_select_colunas', function($oportunidade_id) { return $pe_select_colunas; });
PE::add('oportunidade_aprovacao_antes', function($oportunidade_orcamento_model, $sessao_model) { ... });
PE::add('oportunidade_orcamento_pdf_antes', function($empresa_id, $oportunidade_orcamento_id, $download) { return $lista; });

// Social
PE::add('mural_mensagem_ao_salvar_antes', function($mural_mensagem_model) { ... });
PE::add('mural_mensagem_ao_salvar_depois', function($mural_mensagem_model) { ... });

// Cadastros Gerais
PE::add('cliente_salvar_antes', function($cliente_model, $isUpload) { ... });
PE::add('cliente_salvar_depois', function($cliente_model, $isUpload) { ... });
PE::add('organizacao_salvar_antes', function($prospect_model, $isUpload) { ... });
PE::add('organizacao_salvar_depois', function($prospect_model, $isUpload) { ... });

// Itens
PE::add('itens_salvar_antes', function(&$itens_model) { ... });
PE::add('itens_salvar_depois', function($itens_model) { ... });
PE::add('itens_excluir_antes', function(&$itens_model) { ... });
PE::add('itens_excluir_depois', function($itens_model) { ... });

//RD Station
PE::add('rd_station_salvar_oportunidade_antes', function($oportunidade_model, $lead));
PE::add('rd_station_salvar_oportunidade_depois', function($oportunidade_model, $lead)) ; 

//Integração Next Força de Vendas
PE::add('integracao_next_forca_vendas_salvar_oportunidade_antes', function($oportunidade_model, $lead));
PE::add('integracao_next_forca_vendas_salvar_oportunidade_depois', function($oportunidade_model, $lead)) ; 

*/
