<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function oportunidade_excluir_antes($oportunidade_model) {

};

function oportunidade_excluir_depois($oportunidade_model) {

};