<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function oportunidade_mover_etapa_antes($funil_vendas_id, $funil_vendas_etapa_id, $funil_vendas_etapa_id_anterior, $oportunidade_id) {
	// ao mover uma oportunidade de etapa
	/* carregando dados do formulário personalizado
	$formulario_oportunidade_dao = new Formulario_Oportunidade_DAO();
	$formulario_oportunidade_model = $formulario_oportunidade_dao->get_formulario($oportunidade_id, $funil_vendas_id);
	$formulario_personalizado = [];
	if (isset($formulario_oportunidade_model->registros) && isset($formulario_oportunidade_model->registros->campo_geral)) {
		$formulario_personalizado = $formulario_oportunidade_model->registros->campo_geral;
	}

	if ($formulario_personalizado['edt_seu_campo'] == 'VALOR') {
		// sua ação
		$validation = new Validation();
		$validation->add(Validation::VALID_ERR_NOT_EXISTS, 'Ação não permitida... ');
		throw new BusinessException($validation);
	}
	*/
};

function oportunidade_mover_etapa_depois($funil_vendas_id, $funil_vendas_etapa_id, $funil_vendas_etapa_id_anterior, $oportunidade_id) {
	// ao mover uma oportunidade de etapa
};