<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function oportunidade_salvar_item_antes($oportunidade_model, $item_corrente, &$oportunidade_item_model) {

};

function oportunidade_salvar_item_depois($oportunidade_model, $item_corrente, $oportunidade_item_model) {

}