<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function organizacao_salvar_antes($organizacao_model, $inclusao) {

};

function organizacao_salvar_depois($organizacao_model, $inclusao) {

};