<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function solicitacao_cancelar_antes(&$solicitacao_model){
	print_r($solicitacao_model);
}

function solicitacao_cancelar_depois(&$solicitacao_model){
	print_r($solicitacao_model);
}