<?php

use \Sys\Util;
use \Sys\Basic;
use \Sys\Validation;
use \Sys\DB;

function solicitacao_preencher_historico($solicitacao_model, &$historico) {
    // ao preencher o histórico da $solicitacao_model
    // obs: não popule uma Solicitacao_Model dentro deste ponto de entrada, pois irá gerar um loop infinito
};