define([], function() {

	var Atividade_Projeto_Detalhes_Novo_Documento_PE = function(main) {
	    'use strict';
	    
	    console.log('Atividade_Projeto_Detalhes_Novo_Documento_PE');
	    console.log(main);
	}

	return Atividade_Projeto_Detalhes_Novo_Documento_PE;
});