define([], function() {

	var Oportunidade_Detalhes_Preencher_PE = function(main) {
	    'use strict';

		console.log('Oportunidade_Detalhes_Preencher_PE');
	    console.log(main);
	}

	return Oportunidade_Detalhes_Preencher_PE;
});