define([], function() {

	var Solicitacao_Atividade_Enviar_PE = function(main) {
	    'use strict';
	    
		console.log(main);
		console.log(main.arr_destinos); // manipulação dos destinos
	}

	return Solicitacao_Atividade_Enviar_PE;
});