<?php

function inicia_processo() {

	$processo_id = 5;

	try {

		$solicitacao_dao = \Sys\Basic::LoadDAO('Solicitacao', true);
		$solicitacao_atividade_model = $solicitacao_dao->nova_por_processo($processo_id);

		\Sys\Log::escrever(basename(__FILE__), 'Aberta Solicitação ID ' . $solicitacao_atividade_model->solicitacao_id, true);;

	    \Sys\Log::escrever(basename(__FILE__), 'Ok', true);
	}
	catch (Exception $e) {
		\Sys\Log::escrever(basename(__FILE__), 'Falhou', true);
	}
}

inicia_processo();