<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_escolha_responsabilidade_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title" id="modal_escolha_responsabilidade_label">Escolha uma Responsabilidade</h4>
            </div>
            <div class="modal-body">
                <h4>Qual das duas responsabilidades classificadas como “A”, você acredita que estrategicamente devemos iniciar nossos trabalhos? </h4>

                <div class="list-group">
                  <a href="#" class="list-group-item btn_responsabilidade_1">{responsabilidade_1}</a>
                  <a href="#" class="list-group-item btn_responsabilidade_2">{responsabilidade_2}</a>
                </div>

                <!-- <div class="form-group">
                    <button type="button" class="btn btn-default bt-lg btn-block btn_responsabilidade_1">{responsabilidadde_1}</button>
                    <button type="button" class="btn btn-default bt-lg btn-block btn_responsabilidade_2">{responsabilidadde_2}</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->