<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_area_detalhes_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_area_detalhes_label">Nova Matriz de Atuação Efetiva</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Escolha a função a ser trabalhada</label>
                    <select class="form-control selectpicker cbo_funcoes" data-live-search="true">
                        <!-- <option selected disabled>Selecione uma função</option> -->
                    </select>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->