<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_area_detalhes_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_area_detalhes_label">Atuação Efetiva</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center; font-size: 100px; color: #888888;">
                     <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
            <h3 class="text-center">Parabéns por finalizar mais esta etapa.</h3>
            <p>
                &emsp;&emsp;Agora que você pode refletir e analisar sobre como está e como poderia estar sua efetividade, assim como o que pode ter um alto impacto nos seus indicadores, através da matriz de Atuação Efetiva, e montou um plano de ação para começar a atuar de forma ainda mais efetiva é hora de começar a agir.
            </p>
            <p>
                &emsp;&emsp;Foque em suas ações de 24 horas, coloque-as em pratica, depois foque no que você definiu como meta e trabalhe com bastante disciplina, com muito engajamento e utilizando de forma intensa todo o seu potencial para ser um profissional High Performance e gerar os melhores resultados.
            </p>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_finalizar btn btn-warning">Finalizar</button>
                <button type="button" class="btn_agenda btn btn-default">Ir para agenda</button>
                <button type="button" class="btn_competencias btn btn-primary">Matriz de competências essenciais</button>
            </div>
        </div>
    </div>
</div>