<ol class="breadcrumb visible-xs">
    <li class="active">Atuação Efetiva</li>
</ol>

<div class="col-sm-12 col-md-12 col-lg-12">

    <!-- filtros -->
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <label>Filtrar por Num. Matriz</label> 
            <div class="form-group">
                <div class="btn-group">
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-btn">
                            <button type="button" class="btn_filtros_usuario btn btn-default">
                                <span class="glyphicon glyphicon-filter"></span> 
                            </button>
                        </span>
                        <input type="text" class="form-control edt_pesq_codigo" placeholder="Código" maxlength="10" id="edt_pesq_codigo"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn_pesquisa_codigo">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button type="button" class="btn_limpar_filtro btn btn-default ">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4 filtro_atividades">
            <label>Filtrar por Status</label>
            <div class="form-group">
                <select id="cbo_status" class="form-control selectpicker cbo_status show-tick" data-live-search="true" title="Filtro por Status">
                    <option value="-1" selected>Todos</option>
                    <option value="N">Em Aberto</option>
                    <option value="S">Encerrado</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 div_cbo_autor">
            <label>Filtrar por Responsável</label>
            <div class="form-group">
                <select id="cbo_autor" class="form-control selectpicker cbo_autor show-tick" data-live-search="true" title="Filtro por Responsável">
                </select>
            </div>
        </div>    
    </div>
    <!-- filtros -->
    <div class="alert alert-warning div_aprovacao hidden">
      <a class="btn btn-default btn_tela_aprovacao" href="#" class="alert-link">Aprovação de Metas</a>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <button type="button" class="btn_novo btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign"></span> Nova matriz de atuação efetiva
            </button>
            <button type="button" class="btn_competencias btn btn-default">
                <span class="glyphicon glyphicon-screenshot"></span> Ir para competências essenciais
            </button>
            <button type="button" class="btn_listar btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn_tutorial">
                 <span class="glyphicon glyphicon-info-sign"></span>
              </button>
              <button type="button" class="btn btn-default btn_help">
                 <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </div>
        </div>
    </div>
   
</div>

<div class="row">
    <!-- LISTAGEM -->
    </br>
    <div template-box style="display: none;" class="box_atuacao col-md-4 col-sm-6">
        <div class="box">
            <div class="box-loader">  
                <div class="loader loader--style2" title="1">
                  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 25 25"
                      to="360 25 25"
                      dur="0.6s"
                      repeatCount="indefinite"/>
                    </path>
                  </svg>
                  <p>Carregando...</p>
                </div>
            </div>
            <div class="actions">
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical menu-vert"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a class="btn_editar" href="#">
                            <span class="glyphicon glyphicon-pencil"></span> Editar
                        </a>
                    </li>
                    <li>
                        <a class="btn_excluir" href="#">
                            <span class="glyphicon glyphicon-trash"></span> Excluir
                        </a>
                    </li>
                    <li>
                        <a class="btn_concluir" href="#" style="display: none;">
                            <span class="glyphicon glyphicon-ok"></span> Concluir
                        </a>
                    </li>
                    <li>
                        <a class="btn_nova_versao" href="#" style="display: none;">
                            <span class="glyphicon glyphicon-tags"></span> Nova Versão
                        </a>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="box-header">
                <p class="id" template-field="id">{id}</p>
                <p class="titulo" template-titulo-atuacao>{atuacao_efetiva}</p>
            </div>
            <div class="box-info col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <span template-field="autor">{autor}</span>
                    </div>
                    <div class="col-md-6 text-center">
                       <span template-field="data_inicio">{data_inicio}</span> 
                    </div>
                </div>
            </div>
            <div class="box-body" template-field="indicador">
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12" style="padding-bottom: 40px; padding-top: 10px;">
        <div class="row boxes"></div>
    </div>
    <!-- /LISTAGEM -->
</div>