<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_area_detalhes_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_area_detalhes_label">{titulo}</h4>
            </div>
            <div class="modal-body">
                 
            </div>
            <div class="div_exibir_na_abertura hidden" style="margin:10px;">
                 <td class="text-right">
                    <input type="checkbox" class="checkbox_bootstrap_toggle form-control chk_exibir"> Exibir na abertura?
                </td>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-primary">Continuar</button>
                <!-- <button type="button" class="btn_salvar btn btn-primary">Salvar</button> -->
            </div>
        </div>
    </div>
</div>