<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <div class="col-md-5">
                <div class="input-group-btn ">
                    <button type="button" class="btn_salvar btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>                    
                    <button type="button" class="btn_excluir btn btn-danger">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Excluir
                    </button>                                        
                    <button type="button" class="btn_cancelar btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>                    
                </div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"><br></div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default painel_detalhes">
            <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
                <div class="pull-right">
                    <!-- -->
                </div>
                <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 0px; margin-bottom:0px;">
                    <li class="active lbl_tab_geral">
                        <a class="tab_geral" id="modal_projeto_geral_tab" href="#" role="tab" data-toggle="tab">Geral</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active form_geral" id="">
                        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
                            
                            <div class="form-group">
                                <label for="edt_descricao">Categoria</label>
                                <input id="edt_descricao" type="text" class="form-control edt_descricao" placeholder="Digite a categoria" maxlength="150">
                            </div>

                        </div> 
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>