<ol class="breadcrumb visible-xs">
    <li class="active">Mural</li>
</ol>

<!-- LISTAGEM -->
<div>

    <nav class="navbar" role="navigation" style="margin: 0px; padding: 0px;">
        <button type="button" class="btn_novo btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Novo
        </button>
        <button type="button" class="btn_listar btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button type="button" class="btn_config hidden btn btn-default">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </nav>

    <div class="table-responsive">

        <table class="tab_listagem table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-left">Para</th>                
                    <th>Autor</th>
                    <th class="text-center">Mensagem</th>
                    <th class="text-center">Data</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- itens -->
                <tr template-row style="display: none;">
                    <td class="text-left" template-field="tipo_descricao">
                    </td>                                    
                    <td>
                        <span template-field="usuario">
                            {usuario}
                        </span>
                        <span class="ico_controle_acessos glyphicon glyphicon-lock small" style="display: none;"></span>
                       
                    </td>
                    <td class="text-left" template-field="mensagem">
                    </td>
                    <td class="text-center" template-field="data">
                    </td>
                    <td template-buttons="actions">
                        <div class="btn-group pull-right" style="display: none;">
                            <button type="button" class="btn_editar btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="btn_visualizar" href="#">
                                        Visualizar
                                    </a></li>
                                    <li><a class="btn_excluir" href="#">
                                        Excluir
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="position: relative; bottom: 20px;">
            <div style="padding: 10px; padding-bottom: 0px; padding-top: 0; background-color: white;" class="text-center div_carregar_mais hidden">
                <span class="btn btn-link btn_carregar_mais">
                    <span class="txt_carregar_mais text-primary">Carregar mais registros</span>
                </span>
            </div>
        </div>

    </div>

</div>

<!-- /LISTAGEM -->