<!-- MODAL DETALHE -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_escolha_responsabilidade_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_escolha_responsabilidade_label">Eventos Abertos</h4>
            </div>
            <div class="modal-body">

                <div class="list-group lista_eventos">
                  <a href="#" class="list-group-item" template-row style="display: none;">{evento}</a>
                </div>

                <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Fechar</button>
            </div>

            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETALHE -->