<div class="row">
    <div class="col-md-12" style="padding-bottom: 10px;">
        <button type="submit" class="btn_confirmar btn btn-primary">
            <i class="far fa-save" aria-hidden="true"></i> Confirmar
        </button>
        <button type="submit" class="btn_restaurar btn btn-default">
            Restaurar
        </button>

        <button type="submit" class="btn_cancelar btn btn-default pull-right">
            Cancelar
        </button>
    </div>
</div>

<div class="panel panel-default painel_detalhes">
    <div class="panel-heading" style="border-bottom: none; padding-bottom: 0px; margin-bottom:0px;">
        <div>Oportunidade #<span class="lbl_oportunidade_id"></span></div>
        <div>Item <span class="lbl_item_id"></span></div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="dx_html_editor_observacoes"></div>
                </div>
            </div>
        </div>
    </div>
</div>