<div class="div_drag_situacao" style="display: none;">
    <div class="dragList hidden-sm hidden-xs" style="position: absolute; z-index: 1040; top: 0px; text-align: center; width: 100%; opacity: 0.95;">
      <div class="list listDrop dx-sortable" id="A" oportunidades="[]" style="width: 32%; background: rgb(255, 250, 250); height: 64px; padding: 10px;">
        <span style="font-weight: bold; border-bottom: 2px outset rgba(0, 0, 0, 0.4); padding-bottom: 7px; display: block;">
          <span class="dx-icon-clock" aria-hidden="true"></span> Negócio Aberto </span>
      </div>
      <div class="list listDrop dx-sortable" id="G" oportunidades="[]" style="width: 32%; background: rgb(144, 238, 144); height: 64px; padding: 10px;">
        <span style="font-weight: bold; border-bottom: 2px outset rgba(0, 0, 0, 0.4); padding-bottom: 7px; display: block;">
          <li class="fa fa-thumbs-up" aria-hidden="true"></li> Negócio Ganho
        </span>
      </div>
      <div class="list listDrop dx-sortable" id="P" oportunidades="[]" style="width: 32%; background: rgb(255, 228, 181); height: 64px; padding: 10px;">
        <span style="font-weight: bold; border-bottom: 2px outset rgba(0, 0, 0, 0.4); padding-bottom: 7px; display: block;">
          <li class="fa fa-thumbs-down" aria-hidden="true"></li> Negócio Perdido
        </span>
      </div>
    </div>
</div>

<div class="toolbar"></div>

<div class="tab_panel"></div>

<div class="context-menu"></div>