<div class="modal modal_metas_periodo_representante" tabindex="-1" role="dialog" aria-labelledby="label_modal_oportunidades_representante" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title label_modal_metas_periodo_representante" translate="oportunidade.metas_representante">Metas x Representante</h4>
            </div>
            <div class="modal-body">
                <div modo-visualizacao="T" class="" style="display: block;">
                    <div class="grid_metas_periodo_representante"></div>
                    <br>
                    <button class="btn btn-primary btn_cancelar">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>