<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_motivo_perda_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_cancelar close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_motivo_perda_label">Motivo da perda</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cbo_motivo">Motivo</label>
                            <select id="cbo_motivo" class="form-control selectpicker cbo_motivo show-tick" title="Filtro por Motivo" data-live-search="true">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edt_data_perda">Data da Perda</label>
                            <input type="date" id="edt_data_perda" class="edt_data_perda form-control" placeholder="dd/mm/aaaa">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 div_empresa hidden">
                        <div class="form-group">
                            <label for="edt_data_fechamento">Empresa</label>
                            <select class="form-control selectpicker cbo_empresas" data-live-search="true">
                                <option selected disabled>Selecione uma empresa</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control edt_motivo_perda" rows="4" maxlength="200" placeholder="Informe algumas observações sobre o motivo da perda"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="bottom: 0px;">
                <button type="button" class="btn_cancelar btn btn-default">Cancelar</button>
                <button type="button" class="btn_salvar btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>